<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php $db=Zend_Registry::get("db"); $media = $db->fetchAll("select type from media where section=?", array('user-avatar'), 2); ?>
    <div class="col-md-9 mp-up-lyt mtp" style="min-height:500px;">
		<div class="job_seekers_list jb-cntn-lst">
			<div class="row">
                            <div class="col-md-9">
                                <h3 class="lst-apl">Applicant's List</h3>
                                <table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Job</th>
						<th>Job Title </th>
						<th>Vendor Name</th>
						<th>Vendor Info</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>
                                    
	                        <?php
	                            if( $this->data['data'] ) {  
	                            	$i=0;
	                                foreach( $this->data['data'] as $data => $values ) {
	                                 //echo "<pre>";print_r($values);
					       ?>
					           <tr class="row-sel sel-data_<?php echo $i; ?>">
                                                <td>#<?php echo $values->job_id; ?></td>
						 <td><?php echo $values->title; ?></td>
                                                <td><a href='<?php echo $this->baseUrl(); ?>/vendor/homepage/index/id/<?php echo $values->applier_id; ?>' target='_blank'><?php echo $values->first_name; ?></a></td>
                                                <td>
                                                    <span id="Description"><?php echo $values->about; ?></span><br />
                                                    <span id="vendorEmail"><?php echo $values->email; ?></span>                                                    
                                                </td>
                                                <td class="sel-td">
                                                    <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_view" data-link="<?php echo "view_".$values->job_id; ?>_<?php echo $values->applier_id; ?>" class="operation">View</a>&nbsp;|&nbsp;
                                                    <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_send" data-link="<?php echo "sendmessage_".$values->job_id; ?>_<?php echo $values->applier_id; ?>" class="operation">Send Message</a>&nbsp;|&nbsp;
                                                    <a href="javascript:void(0)" id="sel-data_<?php echo $i; ?>_dele" data-link="<?php echo "delete_".$values->job_id; ?>_<?php $values->applier_id; ?>" class="operation">Delete</a>
                                                </td>
                                            </tr>
                                   <?php
                                   $i++;
                                        } } 
                                    ?>
                                </tbody>
                                
                                </table>                                
                            </div>
                            <div class="col-md-3">
                                <div id="heavy_job_lifting"></div>
                            </div>
                        </div>
	       </div>
    </div>
    
<style>
    .ui-selected
    {
        background-color:#E0F1FF;
    }
</style>
<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script>
    
    jQuery(document).ready(function($){
        
        $(".sel-td").selectable({
                selected: function(event, ui) {}
        }); 

        $("a.operation").each(function(index){
        	$(this).removeClass("ui-selected");
            $(this).click(function(e){
            	if($(".operation").hasClass( "ui-selected" )){
                        $(".operation").removeClass( "ui-selected" );
                        $(".row-sel").removeClass( "ui-selected" );
                }
                $(this).addClass("ui-selected");
                var id = $(this).attr('id');
                var id_cls = id.substring(0, id.length-5);
                $("."+id_cls).addClass("ui-selected");
                e.preventDefault();
		        var Form = this;
		
                //Form Validation goes here....
                $.ajax({
                    cache: false,
                    url : "<?php echo $this->baseUrl(); ?>/users/job/operationonapplier/format/html",
                    type: "GET",
                    data : {'data':$(this).attr('data-link')},
                    success : function(result){
		
                        $("#heavy_job_lifting").html(result).promise().done(function(){
				    //your callback logic / code here
				    $("form").submit(function(e){
						e.preventDefault();
						var data = {}
						var Form = this;
				
						//Gathering the Data
						$.each(this.elements, function(i, v){
						    var input = $(v);
						    data[input.attr("name")] = input.val();
						    delete data["undefined"];
						});
					    
						//Form Validation goes here....
						$.ajax({
							cache: false,
							url : "<?php echo $this->baseUrl(); ?>/users/job/operationonapplier/format/html",
							type: "POST",
							//dataType : "json",
							//data : JSON.stringify(data),
							data : data,
							//context : Form,
							success : function(result){
								Form.reset();
								$("#preview").html(result);
							},
							error : function(){
								$(this).html("Error!");
							}
						});
				    });
			});

				$("a#removeMessage").click(function(e) {
					var id = $(e.target).attr("data-id");
					$.ajax({
						type: 'GET',
						url: 'http://'+document.location.hostname+'/za/public/admin/messages/remove/format/html',
						data: {id:id}
						}).done(function(result) {
						if ( result.resp == 'success' ) {
							$("#"+id).hide();
						}
				      });	
				});
                    },
                    error : function(){
                        $(this).html("Error!");
                    }
                });
            });            
        });			
    });
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
