<?php

    echo $case = $this->data['case'];
    echo $vendor_id = $this->data['vendor_id'];

?>
<?php if( $vendor_id && $case ) {; ?>

    <!-- case when to send message to the vendor -->
    <?php if($case=="message") {; ?>    
        <div class="panel panel-default login-cnntt">
            <div class="panel-body">
                <div id="preview" class="panel panel-success"></div> 
                <div id="output"></div><!--the output of the ajax request -->        
                <legend>Send Message</legend>    
                <form role="form" class="form favorite" action="/users/dashboard/favorite/format/html" method="post"> 
                     <input type="hidden" name="message_who" value="<?php echo $vendor_id; ?>" />     
                    <div class="form-group">
                        <label for="exampleInputPassword1">Message</label>
                        <textarea style="height: 150px;" rows="5" id="message" name="message" placeholder="Write your message here" class="form-control"></textarea>
                    </div>      
                    <button type="submit" id="login" class="btn btn-default btn-primary">Send Message</button>      
                </form>    
                <div>
                    <div>
                        <a href="javascript:void(0);" class="close sprited" id="close_x">close</a>
                    </div>
                </div>
            </div>
        </div>    
    <?php } ?>
    
    <!-- case when to send feedback about the vendor -->
    <?php if($case=="review") {; ?>
        <div class="panel panel-default login-cnntt">
            <div class="panel-body">
                <div id="preview" class="panel panel-success"></div>         
                <div id="output"></div><!-- to see the output of the ajax request -->
                <label class="col-sm-4"></label><h3 class="col-sm-8">Post A Feedback</h3>
                <p id="preview" class="bg-warning"></p>
                <form class="form-horizontal favorite" role="form" action="/users/dashboard/reviews" method="POST">
                    <input type="hidden" name="about_who" value="<?php echo $vendor_id; ?>" />
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Feedback & Review</label>
                        <div class="col-sm-8">
                            <textarea style="height: 150px;" name="feedback" rows="5" class="form-control" id="inputEmail3" placeholder="Please enter the feedback description !!"></textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-4"></label>
                        <div class="col-sm-8">
                            <button type="submit" class="btn btn-primary">Add new feedback</button>
                        </div>
                    </div>
                </form>    
                <div>
                    <div>
                        <a href="javascript:void(0);" class="close sprited" id="close_x">close</a>
                    </div>
                </div>
            </div>
        </div>
    <?php } ?>
    
<?php } else { ?>


<?php } ?>