<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<?php $this->placeholder('sidebar')->captureStart() ?>

<div class="col-sm-3">
	
	
			    
</div>

<?php $this->placeholder('sidebar')->captureEnd() ?>
<?php $this->placeholder('slider')->captureStart() ?>
					<div class="dash-content col-sm-9 mp-up-lyt">
					        <section class="welcome">
						    <h1>Welcome <strong class="usr-nm-lg"><?PHP if( $this->data['data'][0]->first_name ){echo $this->data['data'][0]->first_name.' '.$this->data['data'][0]->last_name;}else { echo $this->data['data'][0]->email ;} ?> </strong> </h1>
						    <p>You have 3,450 unread messages. Click here to close the notification and see a dark color variation.</p>
					        </section>
					        <h1 class="dashboard-heading">Overview</h1>
						<section class="row md-6-pd">
							<div class="col-md-3 text-center">
										<?php if( $this->data['media'] ) {; ?>
			    <?php foreach( $this->data['media'] as $data => $values ) {
				if( $values['section']=='user-avatar' && $values['owner']==$sess->userId ) {					    
				    ?>
					<a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mypic"><img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_0_250x250<?php echo $values['type']; ?>" alt="" class="profile-pic2" /></a>
				    <?php					    
				}					
			    }?>					    
			<?php } ?>
								<!--<ul class="social-m3">
									<li><a href="#"><img src="images/fb3.png" alt="" /></a></li>
									<li><a href="#"><img src="images/twitter3.png" alt="" /></a></li>
									<li><a href="#"><img src="images/in3.png" alt="" /></a></li>
								</ul>-->
							</div>
							<div class="col-md-6">
								<h2 class="info-heading"><?php echo $this->data['data'][0]->email; ?></h3>
                                <div class="cntn-bd">
								<p class="info-text">Link Widget: <a href="#">Button 1</a> &nbsp;&nbsp;<a href="#">Button 2</a> &nbsp;&nbsp;<a href="#">Button 3</a><br /><br />
								<?php echo $this->data['data'][0]->bio; ?></p>
                                </div>
							</div>
							<div class="col-md-3">
								<h2 class="info-heading">Bio <span>Personal Information</span></h2>
								<ul style="border:1px solid #ddd;"  class="personal-info">
										<li><!--<img alt="" src="images/ico1.jpg">--><span><?php echo $this->data['data'][0]->first_name; ?>&nbsp;&nbsp;<?php echo $this->data['data'][0]->last_name; ?></span></li>
										<li><!--<img alt="" src="images/ico2.jpg">-->Gender: <a href="#"><?php echo $this->data['data'][0]->gender; ?></a></li>
										<li><!--<img alt="" src="images/ico3.jpg">-->Age: <a href="#"><?php echo $this->data['data'][0]->age; ?></a></li>
										<li><!--<img alt="" src="images/ico4.jpg">-->Facebook ID: <a href="#"><?php echo $this->data['data'][0]->fb_name; ?></a></li>
										<li><!--<img alt="" src="images/ico4.jpg">-->Twitter ID: <a href="#"><?php echo $this->data['data'][0]->tw_name; ?></a></li>
										<li><!--<img alt="" src="images/ico4.jpg">-->Skype: <a href="#"><?php echo $this->data['data'][0]->sky_name; ?></a></li>
										<li><!--<img alt="" src="images/ico4.jpg">-->Google Plus: <a href="#"><?php echo $this->data['data'][0]->gplus_name; ?></a></li>
								</ul>
							</div>
						</section>
						<!--<div class="row">
                        	<div class="col-lg-12">
                            <h2 class="info-heading marginVertical">Wedding Information</h2>
                            <div class="wed-bd-dv row">
							<section class="col-md-4">
								<h2 class="sub_heading2">Ceremony and Reception</h2>
								<div class="hdng-cntnt-tl">
                                <ul class="date_place">
									<li>on <span>21 Oct 2013</span></li>
									<li>At: <span>Rehmaan Hotel, America</span></li>
								</ul>
								<div class="progress_bar">
									<div class="prog">
									</div>
								</div>
								<p class="days_left">27 days left to your wedding</p>
								<h2 class="sub_heading2 marginTop">Guest</h2>
								<ul class="guest_info">
									<li>150<span>Invitations</span></li>
									<li>180<span>Adult</span></li>
								</ul>
								<ul class="guest_info">
									<li>250<span>Total Guests</span></li>
									<li>70<span>Children</span></li>
								</ul>
                                </div>
							</section>
							<section class="col-md-4 md-4-pd">
                            	
								<h2 class="sub_heading2">Budget &amp; Expenses</h2>
                                <div class="hdng-cntnt-tl">
								<table class="budget_det">
									<tr>
										<td>$50,000</td>
										<td>Budget</td>
									</tr>
									<tr class="borderBottom">
										<td>$10,000</td>
										<td>Used</td>
									</tr>
									<tr>
										<td>$40,000</td>
										<td>Remaining</td>
									</tr>
									<tr>
										<td>10%</td>
										<td>% Used</td>
									</tr>
								</table>
                                </div>
							</section>
							<section class="col-md-4">
								<h2 class="sub_heading2">Payment</h2>
                                <div class="hdng-cntnt-tl">
								<table class="budget_det">
									<tr>
										<td>$50,000</td>
										<td>Actual Paid</td>
									</tr>
									<tr>
										<td>$10,000</td>
										<td>Balance Due</td>
									</tr>
								</table>
                                </div>
							</section>	
                            </div>
                            </div>						
						</div>-->
					<!--	<div class="clear"></div>
						<section class="row">
							<div class="col-md-6">
								<h2 class="info-heading">To-do List</h2>
								<div class="list-overflow">
									<ul class="todolist">
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="green_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="active_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="orange_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="grey_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
										<li class="blue_list"><i class="fa fa-check"></i>Florist<span>07:30 AM</span></li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 md-6-pd-s">
								<h2 class="info-heading">Upcoming Events</h2>
                                <div class="up-evnt-cntnt">
                                    <div id="div3_example"></div>
                                    <div class="btn-add">Add Event</div>
                                    <div class="btn-add pink">Next</div>
                                </div>
							</div>
						</section>-->
						
						<!--<div class="clear"></div>
						<section class="bio note-bio">
							<div class="recent">
								<h2 class="info-heading">Add Notes</h2>
								<div class="list-overflow">
									<ul class="todolist">
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
										<li>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</li>
									</ul>
								</div>
								<div class="btn-add blue">Add</div>
								<div class="btn-add blue">Delete</div>
							</div>
							<div class="chat">
								<ul class="chat-msg-btn">
									<li><a href="#"><img src="../images/chat-ico.png" alt="" />Live Chat</a></li>
									<li><a href="#"><img src="../images/msg-ico.png" alt="" />Messages</a></li>
								</ul>
								<div class="msg-block">
									<div class="msg-det">
										<img src="../images/testi-img.png" alt="" class="photo-img" />
										<div class="msg-text">
											<p class="name-msg">-Martin <span>just now</span></p>
											<p class="actual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis,</p>
										</div>
									</div>
									<div class="msg-det floatopp">
										<img src="../images/testi-img.png" alt="" class="photo-img" />
										<div class="msg-text">
											<p class="name-msg">-Martin <span>just now</span></p>
											<p class="actual-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis,</p>
										</div>
									</div>
									<div class="msg-send">
										<input type="text" placeholder="Type your message" />
										<input type="button" value="send" class="send-msg" />
									</div>
								</div>
							</div>
							<!--<hr class="long-line">-->
						<!-- </section>-->
						<!--<img src="../images/completed.png" alt="" class="sq-btn" />
						<img src="../images/email.png" alt="" class="sq-btn" />-->
				<!--		<div class="clear"></div>
						<br />
						<div class="row">
							<section class="col-md-6">
								<h2 class="info-heading">Recent Friends</h2>
                                <div class="bdr-dv">
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								<img class="rec_friend" src="../images/friend_img.png" alt="" />
								</div>
							</section>
							<section class="col-md-6 md-6-pd-s">
										<h2 class="info-heading">Comments</h2>
                                        <div class="bdr-dv">
											<div class="testi">
											<img src="../images/testi-img.png" alt="" class="testi-img" />
											<p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis,</p>
											<p class="testi-name">- John Doe | client@famous.company</p>
										</div>
											<div class="testi floatopp">
											<img src="../images/testi-img.png" alt="" class="testi-img" />
											<p class="testi-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis,Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis,</p>
											<p class="testi-name">- John Doe | client@famous.company</p>
										</div>
                                        </div>
					                </section>
						</div>-->						
					<!--	<div class="clear"></div>
						<section class="row">
                        	<div class="col-lg-12">
							<h2 class="info-heading">Timelines</h2>
                            <div class="bdr-dv">
							<ul class="add_delete2">
								<li><input type="button" value="Add" /></li>
								<li><input type="button" value="Delete" /></li>
							</ul>
							<ul class="timeline">
								<li>
									<div class="icon3">
										<span><img src="../images/church_time.png" alt="" /></span>
									</div>
									<p class="timeline_time">Church<br />
									3:30 A.M.</p>
								</li>
								<li>
									<p class="timeline_time">Limo<br />
									3:30 A.M.</p>
									<div class="icon3">
										<span><img src="../images/limo_time.png" alt="" /></span>
									</div>
								</li>
								<li>
									<div class="icon3">
										<span><img src="../images/pic_time.png" alt="" /></span>
									</div>
									<p class="timeline_time">Pictures<br />
									3:30 A.M.</p>
								</li>
								<li>
									<p class="timeline_time">Limo<br />
									3:30 A.M.</p>
									<div class="icon3">
										<span><img src="../images/lime2_time.png" alt="" /></span>
									</div>
								</li>
								<li>
									<div class="icon3">
										<span><img src="../images/eat_time.png" alt="" /></span>
									</div>
									<p class="timeline_time">Dinner<br />
									3:30 A.M.</p>
								</li>
								<li>
									<p class="timeline_time">Limo<br />
									3:30 A.M.</p>
									<div class="icon3">
										<span><img src="../images/limo3_time.png" alt="" /></span>
									</div>
								</li>
							</ul>
                            </div>
                            </div>
						</section>-->
					</div>

<?php $this->placeholder('slider')->captureEnd() ?>
