<?php $this->placeholder('userstaticfiles')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<?php // echo "<pre>" ; print_r($this->data['messages']);
//echo "<pre>"; echo print_r($this->data['media']); die;
?>
<article class="col-sm-9 jb-cntn-lst mtp lst-td-cntr mp-up-lyt">
<div class="widget-body padding-bottom-none">
		<?php 

		if( $this->data ) {
              ?>
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Vendor</th>
						<th>From</th>
						<th>Message</th>
						<th>Convo</th>
                        <th>Status</th>
						<!-- <th>Actions</th> -->
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>
                                        
				<?php 
				        $image =  PUBLIC_URI.'/images/msg-pro.jpg';
						if( isset($this->data['messages'][0] )) {
								
							foreach( $this->data['messages'] as $data => $value ) {
								
								if($this->data['media_user']){
										foreach( $this->data['media_user'] as $d => $v ) {
												if( $value['by_from'] == $v['owner'] ) {
											 		$src = PUBLIC_URI.'/media/'.$v['owner'].'/user-avatar_'.$v['owner'].'_0_35x35'.$v['type'];
													    if (@getimagesize($src)) {
															$image = $src;
													    }else {
															$image =  PUBLIC_URI.'/images/msg-pro.jpg';
													    }
												}
										}
								
																									
						?>						
														<tr id="order_<?php echo $value['id']; ?>" class="gradeX order">
															<td>											
																<img class="img-circle" src="<?php echo $image; ?>" alt="image">	
															</td>
															<td>
															<?php
														
															foreach( $this->data['user'] as $data => $val ) { 
																if( $value['by_from'] == $val['id'] ){?>
															<?php echo $val['name']; ?>
															<?php } }?>
															</td>
															<td><a href="<?php echo $this->baseUrl(); ?>/users/conversation/view/id/<?php echo $value['conv_id']; ?>/to/<?php  echo $value['by_from'];?>"><?php echo $value['message']; ?></a></td>
															<td><a href="<?php echo $this->baseUrl(); ?>/users/conversation/view/id/<?php echo $value['conv_id']; ?>/to/<?php  echo $value['by_from'];?>">#<?php echo $value['conv_id']; ?></a></td>
															<td><a href="#"><?php echo $value['status']; ?></a></td>
															<!-- <td class="center">
																<div class="btn-group btn-group-sm">
																	<a class="btn btn-danger white-dlt" onclick="return confirm('You are about to delete conversation thread. Kindly confirm ?')" href="<?php echo $this->baseUrl() ;?>/users/conversation/del?id=<?php echo $value['conv_id']; ?>"><i class="fa fa-times"></i></a>
																</div>						
															</td> -->
														</tr><!-- // Table row END -->
								
						
							<?php
										
								}else{    ?> 
										<tr id="order_<?php echo $value['id']; ?>" class="gradeX order">
										<td>
											<img class="img-circle" src="<?php echo PUBLIC_URI ;?>/images/msg-pro.jpg" alt="image">	
										</td>
										<td><?php echo $value['by_from']; ?></td>
										<td><?php echo $value['message']; ?></td>
										<td><a href="<?php echo $this->baseUrl(); ?>/users/conversation/view/id/<?php echo $value['conv_id']; ?>/to/<?php  echo $value['by_from'];?>">#<?php echo $value['conv_id']; ?></a></td>
										<td><a href="#"><?php echo $value['status']; ?></a></td>
										<!-- <td class="center">
											<div class="btn-group btn-group-sm">
												<a class="btn btn-danger" onclick="return confirm('You are about to delete conversation thread. Kindly confirm ?')" href="<?php echo $this->baseUrl() ;?>/users/conversation/del?id=<?php echo $value['conv_id']; ?>"><i class="fa fa-times"></i></a>
											</div>											
										</td> -->
									</tr>
								
						<?php		} }
						
						} else {
							?>
								<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No messages found</td><td></td><td></td><td></td><td></td><td></td></tr>
							<?php
						}
				?>		
				</tbody>
				<!-- // Table body END -->
	
			</table><!-- // Table END -->
		<?php } ?>
		</div>

</article>
<?php $this->placeholder('slider')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>
