<?php $this->placeholder('slider')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('UserSession'); ?>
<article class="dash col-md-9 mp-up-lyt">
				<br />
                                <ul class="permalink">
                                        <li>Permalink: <a href="#">http://quinceneraplug.com/<?php echo $this->data['data'][0]->email; ?>/</a></li>
                                        <li><a href="#"><input type="button" value="Edit Link" class="edit-link"></a></li>
                                        <li><a href="#"><input type="button" value="Preview" class="edit-link"></a></li>
                                </ul>
                                <div class="sliderContainer clearfix container_nohide">
                                        <div id="full-width-slider2" class="royalSlider sliderQuestions heroSlider rsMinW">
                                                <div class="rsContent">
                                                        <article class="creator">
								<div class="wrapper">
									<h2 class="blo-head padding_Left">Header preview</h2>
									<img src="<?php echo PUBLIC_URI; ?>/images/header-pr.jpg" alt="" />
									<table class="company_enter">
										<tr>
											<td>Enter your company name here</td>
											<td><input type="text" placeholder="Company Name" /></td>
										</tr>
									</table>
								</div>
							</article>
                                                </div>
						<div class="rsContent">
							<article class="creator">
								<div class="wrapper">
									<h2 class="blo-head padding_Left">Slider preview</h2>
									<img src="<?php echo PUBLIC_URI; ?>/images/slider-pr.jpg" class="slider-pr" alt="" />
									<div class="center-align_button">
										<input type="file" />
										<input type="file" />
										<div class="clear"></div>
										<input type="file" />
										<input type="file" />
										<div class="clear"></div>
										<input type="file" />
										<input type="file" />
										<div class="clear"></div>
										<div class="upload_btn">
											<input type="button" class="save-btn edit-link bottom_Align" value="Upload">
											<div class="clear"></div>
											<label>(You can only upload a maximum of 6 images)</label>
										</div>
									</div>
								</div>
							</article>
						</div>
						<div class="rsContent">
							<article class="creator">
								<div class="wrapper">
									<h2 class="blo-head padding_Left">About us preview</h2>
									<div class="two-col-block2">
										<img src="<?php echo PUBLIC_URI; ?>/images/about_us-pr.jpg" alt="" />
									</div>
									<div class="two-col-block2">
										<p class="enter_desc">Enter information that best describes your company, history, accomplishments, specialities, years in service, do you travel etc</p>
										<textarea class="information_text" placeholder="Enter information here ...."></textarea>
									</div>
									<div class="clear"></div>
								</div>
							</article>
						</div>
								
						<div class="rsContent">
							<article class="creator">
								<div class="wrapper">
									<h2 class="blo-head padding_Left">Contact information preview</h2>
									<div class="two-col-block2">
										<img src="<?php echo PUBLIC_URI; ?>/images/contact-pr.jpg" alt="" />
									</div>
									<div class="two-col-block2">
										<p class="enter_desc">Enter your contact information. This will be seen by all users.</p>
										<table class="address_tb">
											<tr>
												<td>Address:</td>
												<td><input type="text" placeholder="" />
													<div class="clear"></div>
												<input type="text" placeholder="" /></td>
											</tr>
											<tr>
												<td>Phone:</td>
												<td><input type="text" placeholder="" /></td>
											</tr>
											<tr>
												<td>Fax:</td>
												<td><input type="text" placeholder="" /></td>
											</tr>
											<tr>
												<td>www:</td>
												<td><input type="text" placeholder="" /></td>
											</tr>
											<tr>
												<td>Email:</td>
												<td><input type="text" placeholder="" /></td>
											</tr>
											<tr>
												<td>Contact Name:</td>
												<td><input type="text" placeholder="" /></td>
											</tr>
										</table>
									</div>
									<div class="clear"></div>
								</div>
							</article>
						</div>
						<div class="rsContent">
							<article class="creator">
								<div class="wrapper">
									<h2 class="blo-head padding_Left">Video preview</h2>
									<div class="two-col-block2">
										<img src="<?php echo PUBLIC_URI; ?>/images/video-pr.jpg" alt="" />
									</div>
									<div class="two-col-block2 text-left">
										<input type="file" />
										<div class="clear"></div>
										<input type="file" />
										<div class="clear"></div>
										<input type="file" />
										<div class="clear"></div>
										<input type="text" class="video_url" placeholder="Enter video URL" />
										<!--<div class="clear"></div>-->
										<input type="button" value="Upload" class="save-btn edit-link bottom_Align">
									</div>
									<div class="clear"></div>
								</div>
							</article>
						</div>
                                        </div>
                                </div>
				<img class="shadow" alt="" src="images/shadow.png">
                                <ul class="prev_next_btn">
                                        <li><input type="button" class="save-btn edit-link bottom_Align" value="Previous"></li>
                                        <li><input type="button" class="save-btn edit-link bottom_Align" value="Skip"></li>
                                        <li><input type="button" class="save-btn edit-link bottom_Align" value="Next"></li>
                                </ul>
</article>
<?php $this->placeholder('slider')->captureEnd() ?>