<?php $this->placeholder('content')->captureEnd() ?>
<h4 class="innerAll margin-none border-bottom text-center"><i class="fa fa-pencil"></i> Reset Auth</h4>

<div class="login spacing-x2">
	<div class="placeholder text-center"><i class="fa fa-pencil"></i></div>
	<div class="col-sm-6 col-sm-offset-3">
		<div class="panel panel-default">
			<div class="panel-body innerAll">
		  		<form role="form" action="" method="POST">
		  	  		<div class="form-group">
						<label for="exampleInputEmail1">Enter your passcode</label>
						<input type="text" name="passcode" class="form-control" id="exampleInputEmail1" placeholder="Enter passcode">
			  		</div>
			  		<div class="form-group">
						<label for="exampleInputPassword1">New Password</label>
						<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			  		</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Confirm Password</label>
						<input type="password" name="cpassword" class="form-control" id="exampleInputPassword1" placeholder="Retype Password">
					</div>
			  		<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
				</form>
		  	</div>
		</div>
	</div>
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<a href="resetauth" class="btn btn-info">Resend passcode and reset link? <i class="fa fa-pencil"></i> </a>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>