<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<div class="heading-buttons bg-white border-bottom innerAll">
	<h1 class="content-heading padding-none pull-left">Profile / Quick Info</h1>
	<div class="clearfix"></div>
</div>
<div class="innerAll spacing-x2">

	<!-- Widget -->
	<div class="widget finances_summary widget-inverse">

		<div class="row row-merge">
			<!-- col -->
			<div class="col-sm-12 col-md-3">
						<!-- Profile Photo -->
						<div class="border-bottom">
							<a href="#" class="ajax-popup-link">
								<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $sess->user; ?>/user-avatar_<?php echo $sess->user; ?>_0_250x250<?php echo $this->data['media'][0]['type']; ?>" class="img-responsive img-clean"/>
							</a>
						</div>
						<div class="innerAll inner-2x text-center">
							<p class="lead strong margin-none"><?php echo $this->data['data'][0]['first_name']." ".$this->data['data'][0]['last_name']; ?></p>
							<p class="lead"></p>
						
							<div class="btn-group">
								<a href="<?php echo $this->baseUrl(); ?>/admin/messages" class="btn btn-primary"><i class="fa fa-plus fa-fw"></i>Messages</a>
								<a href="" class="btn btn-primary btn-stroke"><i class="fa fa-envelope"></i></a>
							</div>
						</div>
						<hr class="separator"/>
							

						<div class="innerAll border-bottom bg-gray">
							<h4 class="text-primary"><i class=""></i>Info</h4>
							<ul class="list-unstyled">
								<li><?php echo $this->data['data'][0]['email']; ?></li>
								<li><?php echo $this->data['data'][0]['phone']; ?></li>
								<li><?php echo $this->data['data'][0]['address']; ?></li>
								
							</ul>
						</div>						
			</div> 
			<!-- // END col -->		
			<!-- col -->
			<div class="col-lg-9 col-md-9 col-sm-12">

				<div class="innerAll half border-bottom">
					<h4 class="pull-left innerT half margin-none">Short Bio</h4>		
					<div class="clearfix"></div>
				
				</div>
				<div class="innerAll ">
					<p><?php echo $this->data['data'][0]['bio']; ?></p>
					<a href="<?php echo $this->baseUrl(); ?>/admin/index/aep" class="btn btn-info btn-sm"><i class="fa fa-download fa-fw"></i> View All</a>
				</div>

			

				<div class="innerAll half heading-buttons border-bottom">
					<h4 class="margin-none pull-left">Contact Info</h4>
					
					<button class="btn btn-default btn-xs  pull-right hide"><i class="fa fa-cog "></i></button>
					
					<div class="clearfix"></div>
					
				</div>
				<div class="innerAll">
					<ul class="list-unstyled resume-documents">
						<li><a href=""><i class="fa fa-file-o"></i> Phone: <span><?php echo $this->data['data'][0]['phone']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Account From: <span><?php echo $this->data['data'][0]['date_joined']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Website: <span><?php echo $this->data['data'][0]['website']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Facebook: <span><?php echo $this->data['data'][0]['fb_name']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Twitter: <span><?php echo $this->data['data'][0]['tw_name']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Skype: <span><?php echo $this->data['data'][0]['sky_name']; ?></span></a></li>
						<li><a href=""><i class="fa fa-file-o"></i> Google Plus: <span><?php echo $this->data['data'][0]['gplus_name']; ?></span></a></li>
					</ul>
					<div class="clearfix"></div>
					<div class="innerLR innerB">
						<a href="<?php echo $this->baseUrl(); ?>/admin/index/aep" class="btn btn-primary btn-sm"><i class="fa fa-pencil fa-fw"></i> View All </a>
					</div>
				</div>
			</div> 
			<!-- // END col -->
		</div>		
		</div>
		<!-- // END row -->
	</div>
</div>
<!-- // END row-app -->
<?php $this->placeholder('content')->captureEnd() ?>
