* {
	margin:0;
	padding:0;
	vertical-align:baseline;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border:0;
	outline:0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, legend, marquee, fieldset, label, input, textarea, table, tr, td, tbody, th, dl, dd, dt, address, blockquote, ul, li, ol, span, hr, img, div, header, footer, article, section, nav, figure, figcaption, aside {
	margin:0;
	padding:0;
	font:inherit;
	border:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

blockquote:after, blockquote:before {
	content:"";
}

a, a:link, a:hover, a:active, a:visited, a:target {
	color:inherit;
	text-decoration:none;
	cursor:pointer;
}

:focus {
	outline:0;
	border:0;
}

input[type=text]:focus, input[type=search]:focus, input[type=email]:focus, input[type=password]:focus {
	border-color:#000;
	color:#000;
}

img, video {
	max-width:100%;
}

body {
	font-size:62.5%; /* 1em equals 10 px */
}

h1, h2, h3, h4, h5, h6, p {
	font:inherit;
	padding:5px;
}

textarea, input {
	font-family:sans-serif;
	padding:5px;
}

.clear {
	clear:both;
}

html {
	-webkit-text-size-adjust:none;
}