.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-moz-transition: opacity 0.15s linear;
	-ms-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.fade.in {
	opacity: 1;
}

.nav {
	margin-left: 0;
	list-style: none;
}

.nav > li > a {
	display: block;
}

.nav > .pull-right {
	float: right;
}

.nav .nav-header {
	display: block;
	padding: 3px 15px;
	font-size: 11px;
	font-weight: bold;
	line-height: 18px;
	color: #999999;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.nav li + .nav-header {
	margin-top: 9px;
}

.nav-list {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
	margin-right: -15px;
	margin-left: -15px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
	padding: 3px 15px;
}

.nav-list > .active > a {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #0088cc;
}

.nav-list [class^="icon-"] {
	margin-right: 2px;
}

.nav-list .divider {
	*width: 100%;
	height: 1px;
	margin: 8px 1px;
	*margin: -5px 0 5px;
	overflow: hidden;
	background-color: #e5e5e5;
	border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {
	*zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
	display: table;
	content: "";
}

.nav-tabs:after,
.nav-pills:after {
	clear: both;
}

.nav-tabs > li > a,
.nav-pills > li > a {
	padding-right: 12px;
	padding-left: 12px;
	line-height: 14px;
}

.nav-tabs {
	border-bottom: 1px solid #ddd;
	padding-left:40px;
}

.nav-tabs > li {
	float:none;
	display:inline-block;
	vertical-align:bottom;
	background:-moz-linear-gradient(bottom, #f2f2f2, #fff, #f2f2f2);
	background:-webkit-linear-gradient(bottom, #f2f2f2, #fff, #f2f2f2);
	background:-ms-linear-gradient(bottom, #f2f2f2, #fff, #f2f2f2);
	background:-o-linear-gradient(bottom, #f2f2f2, #fff, #f2f2f2);
	background:linear-gradient(bottom, #f2f2f2, #fff, #f2f2f2);
	box-shadow:0 0 5px rgba(0,0,0,0.3);
	margin-left:10px;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	font-size:1.4em;
	color:#333;
	text-transform:capitalize;
}

.nav-tabs > li.active {
	margin-bottom:-1px;
	border:1px solid #ddd;
	border-bottom:0;
	background:-moz-linear-gradient(top, #ebebeb, #fff);
	background:-webkit-linear-gradient(top, #ebebeb, #fff);
	background:-ms-linear-gradient(top, #ebebeb, #fff);
	background:-o-linear-gradient(top, #ebebeb, #fff);
	background:linear-gradient(top, #ebebeb, #fff);
	font-family:Open Sans Semibold, Arial, Helvetica, sans-serif;
	font-size:1.8em;
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.nav-tabs > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 18px;
	border: 1px solid #fff;
}

.nav-tabs > li.active > a {
	padding:15px 20px;
}

.nav-pills > li > a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.nav-stacked > li {
	float: none;
}

.nav-stacked > li > a {
	margin-right: 0;
}

.nav-tabs.nav-stacked {
	border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.nav-tabs.nav-stacked > li:last-child > a {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.nav-pills.nav-stacked > li > a {
	margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
	margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

.nav-pills .dropdown-menu {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.nav-tabs .dropdown-toggle .caret,
.nav-pills .dropdown-toggle .caret {
	margin-top: 6px;
	border-top-color: #0088cc;
	border-bottom-color: #0088cc;
}

.nav-tabs .active .dropdown-toggle .caret,
.nav-pills .active .dropdown-toggle .caret {
	border-top-color: #333333;
	border-bottom-color: #333333;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle {
	color: #ffffff;
	background-color: #999999;
	border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
	opacity: 1;
	filter: alpha(opacity=100);
}

.tabbable {
	*zoom: 1;
}

.tabbable:before,
.tabbable:after {
	display: table;
	content: "";
}

.tabbable:after {
	clear: both;
}

/*.tab-content {
	overflow: auto;
}*/

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
	border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
	top:-999em;
	position:absolute;
	width:100%;
}

.four-block, .five-block {
	min-height:100%;
	min-height:calc(100% + 100px);
}

.tab-content > .active,
.pill-content > .active {
	display: block;
	position:static;
}

.tabbable {
	margin-bottom: 18px;
}
.tab-content {
	padding: 40px 0;
	background:#fff;
	position:relative;
	z-index:1;
	border-bottom: 1px solid #ddd;
}

.tabbable.responsive .nav-tabs > li > a.tab-control,
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
	float: left;
	width: 36px;
	height: 36px;
	margin-top: 4px;
	font-size: 56px;
	font-weight: 100;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background: #444;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
.tabbable.responsive .nav-tabs > li > a.tab-control.right,
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer.right {
	float: right;
}

.tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
	line-height: 28px;
	color: transparent;
	background: transparent;
}

.nav-tabs > li:hover {
	opacity:0.5;
}

.nav-tabs > li.active:hover {
	opacity:1;
}

/* sample styles for the tab controls on small screens  - start with left control and override for right */
.tabbable.responsive .nav-tabs > li > a.tab-control,
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
	float: left;
	width: 36px;
	height: 36px;
	margin-top: 4px;
	font-size: 56px;
	font-weight: 100;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background: #444;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}

.tabbable.responsive .nav-tabs > li > a.tab-control.right,
.tabbable.responsive .nav-tabs > li > span.tab-control-spacer.right {
	float: right;
}

.tabbable.responsive .nav-tabs > li > a.tab-control:hover {
	color: #fff;
	background: #444;
}

.tabbable.responsive .nav-tabs > li > span.tab-control-spacer {
	line-height: 28px;
	color: transparent;
	background: transparent;
}

.tab-pane:after,
.tab-pane:before {
	clear:both;
	content:"";
	display:table;
}

.vendor_home .nav-tabs > li.active > a {
	padding:8px 12px 9px;
}

.vendor_home .nav-tabs > li.active {
	font-size:1.4em;
	background:#fff;
	box-shadow:none;
	font-family:Open Sans, Arial, Helvetica, sans-serif;
	border-bottom:none;
	margin-bottom:0;
}

.vendor_home .nav-tabs > li {
	background:-moz-linear-gradient(bottom, #f6f5f5, #fff);
	background:-webkit-linear-gradient(bottom, #f6f5f5, #fff);
	background:-ms-linear-gradient(bottom, #f6f5f5, #fff);
	background:-o-linear-gradient(bottom, #f6f5f5, #fff);
	background:linear-gradient(bottom, #f6f5f5, #fff);
	box-shadow:none;
	border:1px solid #DDDDDD;
}

.vendor_home .nav-tabs > li:first-of-type {
	margin-left:0;
}

.vendor_home .nav-tabs {
	border:none;
	padding-left:0;
	z-index:100;
	position:relative;
}

.vendor_home .tab-content {
	border:1px solid #ddd;
	margin-top:-1px;
}

.vendor_home .nav-tabs > li > a {
	border:none;
}

