ul
{
	list-style:none;
	padding-left:0px;
}
.port-crop img
{
	max-width:100%;
}
.image_fance_popup .hover_placeho2:after {
    border: 2px solid rgba(255, 255, 255, 0.1);
    content: "";
    display: block;
    height: 80%;
    left: 10%;
    position: absolute;
    top: 10%;
    width: 80%;
    z-index: 0;
}
.port-crop .hover_placeho.hover_placeho2 {
    text-align: center;
}
.port-crop .hover_placeho2 {
    bottom: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: auto;
}
.port-crop .hover_placeho {
    width: 100%;
}
.port-crop .hover_placeho {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    max-height: 100%;
    transition: all 1s ease 0s;
}
.position-relative
{
	position:relative;
}
.port-crop .hover_placeho2:hover, .port-crop ul.album_content li.album_det:hover .hover_placeho2 {
    bottom: 0;
    opacity: 1;
    top: auto;
    transition: opacity 1s ease 0s;
}
.port-crop
{
	position:absolute;
	left:10%;
	right:10%;
}
.port-crop .like_btn_topright {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.port-crop  .hover_placeho.hover_placeho2 .fa-heart-o {
    text-shadow: 0 0 6px #ffffff;
}
.port-crop .buttonsLike {
    position: absolute;
    text-align: center;
	z-index:22222;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.port-crop span.black_overlay .fa, .menu_like {
    color: #ffffff;
    font-size: 24px;
	width:auto;
	display:inline-block;
	border: 1px solid #ffffff;
}
.port-crop .menu_like .fa {
    display: block;
    height: 25px;
    margin: 10px;
    width: 25px;
}

.hover_placeho2 .album_actions li {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
.album_actions.click_bar_show li a:hover, .album_actions.click_bar_show li:hover a {
    color: #399bca;
    cursor: pointer;
}
.album_actions li:hover {
    color: #222222;
}

.hover_placeho2 .album_actions li:hover .original_plug {
    display: none;
}
.hover_placeho2 .album_actions li:hover .hover_plug {
    display: inline-block;
}
.hover_plug {
    display: none;
}
.hover_placeho2 .album_actions li {
    display: inline-block;
}
.hover_placeho2 .album_actions li span {
    display: block;
    font-size: 13px;
    opacity: 0;
}
.hover_placeho2 .album_actions li .fa {
    font-size: 18px;
}
ul.album_actions.social {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.hover_placeho .album_actions {
    color: #ffffff;
}
ul.social {
    float: left;
    list-style: none outside none;
}
ul.album_actions.social li {
    float: none;
}
.hover_placeho2 .album_actions li {
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
}
.hover_placeho2 .album_actions li {
    display: inline-block;
}
ul.album_actions.social li img {
    width: 32px;
}
img.hover_icon {
    display: none;
}
ul.album_actions.social li:hover img.hover_icon {
    display: inline-block;
}
ul.social li:hover img.simple_icon {
    display: none;
}

.hover_placeho2 .album_actions li:hover span {
    opacity: 1;
}
.port-crop a:hover
{
	text-decoration:none
}
.album_actions.click_bar_show {
    padding-top: 10px;
	padding-bottom:10px;
}

#attachment_mail {
    overflow: visible !important;
}
#attachment_mail {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
    width: 50%;
}
#attachment_mail {
    position: absolute;
}
#attachment_mail > a[href="javascript:void(0);"] {
    background:url("../images/close-crop.png") no-repeat;
    display: block;
    height: 36px;
    position: absolute;
    right: -18px;
    text-indent: -9999em;
    top: -18px;
    width: 36px;
}
#attachment_mail input[type="text"], #attachment_mail input[type="email"], #attachment_mail textarea {
    background: none repeat scroll 0 0 #ffffff;
    border:1px solid #aaaaaa;
    display: block;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 20px auto 0;
    width: 90%;
}
#attachment_mail input[type="text"], #attachment_mail input[type="email"], #attachment_mail textarea {
    padding: 5px;
    resize: none;
}
#attachment_mail input[type="submit"] {
    float: right;
    margin-bottom: 20px;
	border:none;
    margin-right: 5%;
    margin-top: 19px;
    width: 100px;
}
#attachment_mail input[type="button"], #attachment_mail input[type="submit"] {
    background: none repeat scroll 0 0 #8abf22;
    box-shadow: none;
    font-family: Open Sans,Arial,Helvetica,sans-serif;
    padding: 5px 10px;
    text-shadow: none;
    text-transform: capitalize;
}
input[type="button"], input[type="submit"] {
    color: #ffffff;
    font-size: 16px;
    word-spacing: 4px;
}
#attachment_mail input[type="text"]:focus, #attachment_mail input[type="email"]:focus, #attachment_mail textarea:focus {
    border-color: #000000;
    color: #000000;
}
.fa-heart-o:hover {
    color: #cb2027 !important;
}

