@font-face {
	font-family:Bebas;
	src: url('../fonts/Bebas/bebas___-webfont.eot');
	src: url('../fonts/Bebas/bebas___-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Bebas/bebas___-webfont.woff') format('woff'),
		url('../fonts/Bebas/bebas___-webfont.ttf') format('truetype'),
		url('../fonts/Bebas/bebas___-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family:PT Sans;
    src: url('../fonts/PTSans/PTN57F-webfont.eot');
    src: url('../fonts/PTSans/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTSans/PTN57F-webfont.woff') format('woff'),
         url('../fonts/PTSans/PTN57F-webfont.ttf') format('truetype'),
         url('../fonts/PTSans/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family:Museo;
    src: url('../fonts/Museo/museosans-100-webfont.eot');
    src: url('../fonts/Museo/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo/museosans-100-webfont.woff') format('woff'),
         url('../fonts/Museo/museosans-100-webfont.ttf') format('truetype'),
         url('../fonts/Museo/museosans-100-webfont.svg#museo_sans100') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family:Museo;
    src: url('../fonts/Museo/museosans_500-webfont.eot');
    src: url('../fonts/Museo/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Museo/museosans_500-webfont.woff') format('woff'),
         url('../fonts/Museo/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/Museo/museosans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
	font-family:Open Sans;
	src: url('../fonts/OpenSans/opensans-regular-webfont.eot');
	src: url('../fonts/OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-regular-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-regular-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:Open Sans Semibold;
	src: url('../fonts/OpenSans/opensans-semibold-webfont.eot');
	src: url('../fonts/OpenSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans/opensans-semibold-webfont.woff') format('woff'),
		url('../fonts/OpenSans/opensans-semibold-webfont.ttf') format('truetype'),
		url('../fonts/OpenSans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Edward;
	src: url('../fonts/Edward/ITCEdscr.eot');
	src: url('../fonts/Edward/ITCEdscr.woff') format('woff'), url('../fonts/Edward/ITCEdscr.ttf') format('truetype'), url('../fonts/Edward/ITCEdscr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}