/* ::::: http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('dxi1orhcpsqm3vp6mxoatxhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('cjzkeoubrn4kerxqtauh3t8e0i7kzn-epnyo3hzu7kw.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('mtp_ysujh_bn48vbg8snsnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('k3k702zokiljc3wvjuplzhhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url('einbv5dfghoimmvb1xr-hnhcuogz7vygh680lgh-uxm.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('prmixeptr36kac0geaetxh_xhqygav9bl_zqbyuxnqu.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('xjajxh38i15wypjxxugmbobn6udyhwbl620a-irfubk.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url('prmixeptr36kac0geaetxn5hxgbcbviccptp6sphfno.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url('prmixeptr36kac0geaetxjqr_3kx9_hjxbbyu8s6in0.woff') format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800;
	src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url('prmixeptr36kac0geaetxkcde67gegbv_hnyvhtfdew.woff') format("woff");
}
/* ::::: http://demo3.eggthemes.com/et_weddingday/style1/themes/et_weddingday/cache/a074ada8ec689db9babfef9914e0d237_all.css ::::: */

/* ::::: http://demo3.eggthemes.com/et_weddingday/style1/themes/et_weddingday/css/1200.css ::::: */
.defaultimg {
    width: 100% !important;
}

.top_banner_slider .caroufredsel_wrapper{height:180px !important}
.top_banner_slider #scroller{height:180px !important}
.top_banner_slider li {
    height: 180px !important;
    max-width: 259px !important;
}

.top_banner_slider li img {
    width: 280px;
    height: 180px !important;
}

.cs_mode_contain { width: 1180px; }
.container_24 { width: 1180px; margin: 0px auto; }
.mode_header, .cs_mode_slideshow, .mode_container, .mode_footer { clear: both; }
.mode_header { width: 100%; float: left; }
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12, .grid_13, .grid_14, .grid_15, .grid_16, .grid_17, .grid_18, .grid_19, .grid_20, .grid_21, .grid_22, .grid_23, .grid_24, .product_grid_4, .product_grid_5, .product_grid_6 { display: inline; float: left; position: relative; margin-left: 10px; margin-right: 10px; }
.alpha { margin-left: 0px; }
.omega { margin-right: 0px; }
.container_24 .grid_4 { width: 180px; }
.container_24 .grid_8 { width: 380px; }
.container_24 .grid_24 { width: 1180px; }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	.cs_mode_contain { width: 940px; }
	.container_24, #page { width: 940px; }
	.container_24 .grid_4, .container_24 .grid_5 { width: 172px; }
	.container_24 .grid_8 { width: 300px; }
	.container_24 .grid_24 { width: 940px; }
	.jb-cntn-lst .dataTables_wrapper .control-label {
 font-size:12px;
}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.cs_mode_contain { width: 748px; }
	.container_24, #page { width: 748px; }
	.container_24 .grid_3, .container_24 .grid_4, .container_24 .grid_5, .container_24 .grid_6 { width: 172px; }
	.container_24 .grid_8 { width: 236px; }
	.container_24 .grid_24 { width: 748px; }
	div.ui-tabs .ui-tabs-nav li a{font-size:13px;}
	div.home_top_tab h4.title_block span {
    	padding: 7px 10px;
	}
	div.pro-rpt-spc .about
	{
		width:38%;
	}
	ul.nav-pills > li > a {
		padding-left: 10px;
		padding-right: 10px;
	}
	body nav.side-nav{top:140px;}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container_24, #page, .cs_mode_contain { width: 420px; }
	.alpha .alpha, .omega .alpha { margin-right: 0px; }
	.alpha .omega, .omega .omega { margin-left: 0px; }
	.grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_12, .grid_15, .grid_16, .grid_17, .grid_18, .grid_20, .grid_24 { margin: 0px; }
	.container_24 .grid_3, .container_24 .grid_4, .container_24 .grid_5, .container_24 .grid_6, .container_24 .grid_7, .container_24 .grid_8, .container_24 .grid_12, .container_24 .grid_15, .container_24 .grid_16, .container_24 .grid_17, .container_24 .grid_18, .container_24 .grid_20, .container_24 .grid_24 { width: 420px; }
}
@media only screen and (max-width: 479px) {
	.container_24, #page, .cs_mode_contain { width: 300px; }
	.alpha .alpha, .omega .alpha { margin-right: 0px; }
	.alpha .omega, .omega .omega { margin-left: 0px; }
	.grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_12, .grid_15, .grid_16, .grid_17, .grid_18, .grid_20, .grid_24 { margin: 0px; }
	.container_24 .grid_3, .container_24 .grid_4, .container_24 .grid_5, .container_24 .grid_6, .container_24 .grid_7, .container_24 .grid_8, .container_24 .grid_12, .container_24 .grid_15, .container_24 .grid_16, .container_24 .grid_17, .container_24 .grid_18, .container_24 .grid_20, .container_24 .grid_24 { width: 300px; }
}
.clear { clear: both; display: block; }
.clearfix:before, .clearfix:after { content: " "; display: block; overflow: hidden; visibility: hidden; width: 0px; height: 0px; }
.clearfix:after { clear: both; }
.clearfix {  }
html { color: rgb(0, 0, 0); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
fieldset, img { border: 0px none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
input, button, textarea, select { font-size: 100%; }
select { border: 1px solid rgb(231, 231, 231); padding: 5px; line-height: 25px; height: 31px; color: rgb(100, 100, 100); }
a { cursor: pointer; }
.clearfix:before, .clearfix:after { content: "."; display: block; height: 0px; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix {  }
ul, ol, li { list-style: none outside none; }
#page { width: 100%; margin: 0px auto; }
#header { z-index: 10; }
#columns { z-index: 1; }
#center_column { overflow: hidden; padding: 0px 0px 20px; }
#index #center_column { overflow: visible; }
#footer {  }
.mode_header { background: url('../images/bkg_header_content.png') repeat-x scroll left bottom transparent; padding-bottom: 12px; position: relative; z-index: 50; }
#index .mode_slideshow { position: relative; z-index: 0; float: left; width: 100%; margin-top: -9px; }
.mode_header_content { background: url('../images/bkg_header.jpg') repeat-x scroll left top transparent; width: 100%; float: left; }
.mode_megamenu { clear: both; margin: 0px 0px 10px; padding-top: 10px; }
#index .mode_megamenu { padding-top: 0px; }
#index .cs_both_mode { background: url('../images/bkg_content.png') repeat-x scroll left top transparent; padding-top: 30px; position: relative; z-index: 10; top: -9px; }
.cs_both_mode { clear: both; padding-top: 10px; }
body { font: 13px/1.35 "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; color: rgb(100, 100, 100); background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.hidden { display: none; }
h3 { font: 400 18px/1.25 "Open Sans",Helvetica,Arial,Verdana,sans-serif; padding-bottom: 10px; color: rgb(25, 25, 25); }
h4 { font: 400 16px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; padding-bottom: 10px; color: rgb(25, 25, 25); }
.title_block { padding-bottom: 10px; text-transform: uppercase; font-size: 14px; }
p { margin: 5px 0px; }
a { color: rgb(25, 25, 25); text-decoration: none; outline: medium none; transition: all 0.5s ease 0s; }
a:hover { text-decoration: none; color: rgb(238, 45, 36); }
input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="submit"], input[type="image"] { border: 1px solid rgb(231, 231, 231); background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 28px; line-height: 28px; padding: 0px 5px; color: rgb(100, 100, 100); }
input:focus { outline: medium none; }
input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.button_mini, a.button_small, a.button, a.button_large, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.button_mini, span.button_small, span.button, span.button_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled { position: relative; display: inline-block; padding: 0px 15px; font: 400 14px/32px "Open Sans",Helvetica,Arial,Verdana,sans-serif; color: rgb(25, 25, 25); text-transform: capitalize; border: medium none; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 0px 3px rgb(114, 230, 179) inset; height: 32px; min-height: 32px; cursor: pointer; border-radius: 0px ! important; }
:first-child + html input.button_mini, :first-child + html input.button_small, :first-child + html input.button, :first-child + html input.button_large, :first-child + html input.button_mini_disabled, :first-child + html input.button_small_disabled, :first-child + html input.button_disabled, :first-child + html input.button_large_disabled, :first-child + html input.exclusive_mini, :first-child + html input.exclusive_small, :first-child + html input.exclusive, :first-child + html input.exclusive_large, :first-child + html input.exclusive_mini_disabled, :first-child + html input.exclusive_small_disabled, :first-child + html input.exclusive_disabled, :first-child + html input.exclusive_large_disabled { border: medium none; }
input.button_mini, input.button_small, input.button, input.button_large, input.button_mini_disabled, input.button_small_disabled, input.button_disabled, input.button_large_disabled, input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled { padding-bottom: 2px; }
input.exclusive_mini, input.exclusive_small, input.exclusive, input.exclusive_large, input.exclusive_mini_disabled, input.exclusive_small_disabled, input.exclusive_disabled, input.exclusive_large_disabled, a.exclusive_mini, a.exclusive_small, a.exclusive, a.exclusive_large, span.exclusive_mini, span.exclusive_small, span.exclusive, span.exclusive_large, span.exclusive_large_disabled {  }
input.button_mini:hover, input.button_small:hover, input.button:hover, input.button_large:hover, input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.button_mini:hover, a.button_small:hover, a.button:hover, a.button_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover { text-decoration: none; box-shadow: 0px 0px 0px 3px rgb(255, 150, 130) inset; }
input.exclusive_mini:hover, input.exclusive_small:hover, input.exclusive:hover, input.exclusive_large:hover, a.exclusive_mini:hover, a.exclusive_small:hover, a.exclusive:hover, a.exclusive_large:hover, .sortPagiBar #bt_compare:hover, .cart_voucher .submit input.button:hover { border: medium none; box-shadow: 0px 0px 0px 3px rgb(255, 150, 130) inset; }
input.button_mini:active, input.button_small:active, input.button:active, input.button_large:active, input.exclusive_mini:active, input.exclusive_small:active, input.exclusive:active, input.exclusive_large:active, a.button_mini:active, a.button_small:active, a.button:active, a.button_large:active, a.exclusive_mini:active, a.exclusive_small:active, a.exclusive:active, a.exclusive_large:active {  }
input.button_large, input.button_large_disabled, input.exclusive_large, input.exclusive_large_disabled, a.button_large, a.exclusive_large, span.button_large, span.exclusive_large, span.exclusive_large_disabled {  }
.block { margin-bottom: 25px; }
.block .title_block, .block h4 { color: rgb(25, 25, 25); padding: 40px 0px 10px; font: 400 14px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; text-transform: uppercase; background: url('../images/bkg_head_block.png') no-repeat scroll center top transparent; }
.block .title_block a, .block h4 a { color: rgb(25, 25, 25); }
.cancel, .star { overflow: hidden; float: left; margin: 0px 1px 0px 0px; width: 16px; height: 16px; text-indent: -999em; cursor: pointer; }
.star, .star a { background: url('../images/star.gif') no-repeat scroll 0px 0px transparent; }
#header { position: relative; padding: 6px 0px 10px; color: rgb(255, 255, 255); }
#header li a { color: rgb(25, 25, 25); }
#header li a:hover { color: rgb(240, 156, 154); }
#header_left { min-height: 133px; }
#header_content { margin: 0px auto; display: inline-block; text-align: center; padding-top: 29px; }

#header_logo {  }
#header_right { position: relative; float: right; }
.mode_footer_main { clear: both; overflow: hidden; background: url('../images/bkg_footer_new.jpg') repeat-x scroll 0px 0px rgb(249, 249, 249); padding: 25px 0px 0px; }
#footer { color: rgb(100, 100, 100); padding-bottom: 10px; overflow: hidden; }
#footer_bottom { overflow: hidden; clear: both; padding: 15px 0px; font: 400 12px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; color: rgb(25, 25, 25); border-bottom: 1px solid rgb(220, 220, 220); }
.cs_payment { width: auto; float: left; }
.cs_payment p { float: left; line-height: 19px; }
.cs_payment p a { display: block; margin-left: 7px; float: left; }
#currencies_block_footer, #languages_block_footer { float: right; margin-left: 10px; }
#languages_block_footer { padding-top: 6px; }
#footer_copyright { padding: 15px 0px 0px; text-align: center; overflow: hidden; clear: both; }
.blockcategories_footer, #footer .myaccount, #block_various_links_footer, #social_block, #block_contact_infos { float: left; }
#footer .title_block { padding-bottom: 10px; margin-bottom: 5px; text-transform: uppercase; }
#footer .title_block, #footer .title_block a { font-weight: normal; color: rgb(25, 25, 25); }
#footer a { color: rgb(100, 100, 100); }
#footer a:hover { text-decoration: none; color: rgb(25, 25, 25); }
#footer ul { list-style-type: none; }
#footer li { padding: 7px 0px; }
#footer li a { color: rgb(100, 100, 100); }
#footer li a:hover { color: rgb(25, 25, 25); }
#footer .myaccount .title_block, #footer .myaccount h4 { padding: 0px 0px 10px; background: none repeat scroll 0% 0% transparent; text-shadow: none; }
.star { position: relative; top: 0px; float: left; height: 14px; width: 13px; overflow: hidden; text-indent: -999em; cursor: pointer; }
.star, .star a { background: url('../images/star.png') no-repeat scroll 0px 0px transparent; }
div.star_on a, .star_on { background-position: 0px -14px; }
.blockcategories_footer .category_footer { float: left; clear: none; }
.blockcategories_footer .category_footer .list { float: left; }
.blockcategories_footer ul ul { display: none ! important; }
#block_contact_infos li { line-height: 15px; }
#block_contact_infos li strong { font-weight: normal; }
#footer .block_customer_service_links .block_content { padding-top: 32px; }
.price, .price-discount { font: 400 16px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; color: rgb(25, 25, 25); }
.name_product h3 { line-height: 15px; }
.name_product a, .s_title_block a, .post_name a { font: 400 11px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; color: rgb(25, 25, 25); text-transform: uppercase; }
.name_product a:hover, .s_title_block a:hover, .post_name a:hover, .blog_left h3 a:hover { text-decoration: none; color: rgb(225, 20, 20); }
.free_shipping { clear: both; display: block; color: rgb(100, 100, 100); text-transform: uppercase; font: 400 12px/1.35 Helvetica,arial; position: relative; padding-top:12%; bottom: 0px; left: 0px; }
.cs_top_links { clear: both; display: inline-block; text-align: center; }
.cs_top_links li { padding: 0px 7px; display: inline; }
.cs_top_links li a { color: rgb(25, 25, 25); text-transform: uppercase; font: 400 14px/1.35 "Open Sans",Helvetica,arial; }
.cs_top_links li a:hover { color: rgb(100, 100, 100); text-decoration: none; }
.cs_follow_online { overflow: hidden; clear: both; margin: 20px 0px 0px; text-align: center; background: url('../images/bkg_cs_follow_online.png') no-repeat scroll center top transparent; padding: 50px 0px 20px; }
.cs_follow_online p { color: rgb(100, 100, 100); }
.cs_i_follow { margin-top: 10px; }
.cs_i_follow span.label, .cs_i_follow p { display: inline-block; }
.cs_i_follow p { vertical-align: middle; }
.cs_i_follow p a { margin: 0px 5px; vertical-align: middle; }
.block_popular_word_search { background: url('../images/bkg_cs_follow_online.png') no-repeat scroll center top transparent; padding: 50px 20px 20px; text-align: center; }
.block_popular_word_search a { font: 400 11px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; color: rgb(100, 100, 100); text-transform: uppercase; }
.block_popular_word_search a:hover { color: rgb(25, 25, 25); }
a.btn { position: absolute; top: 30%; text-indent: -9999px; float: left; background-image: url('../images/bkg_pre_next.png'); background-repeat: no-repeat; width: 20px; height: 21px; transition: all 0.3s ease 0s; cursor: pointer; }
a.btn.prev { left: 0px; background-position: 0px 0px; }
a.btn.next { right: 0px; background-position: 0px 100%; }
a.btn.prev:hover { background-position: -21px 0px; }
a.btn.next:hover { background-position: -21px 100%; }
.cs_home_banner_block { overflow: hidden; clear: both; padding: 15px 0px 25px; width: 100%; }
.cs_home_banner_block p.item { margin: 0px 20px 0px 0px; float: left; width: auto; }
.cs_home_banner_block p.item.bn_4 { margin-right: 0px; }
.cs_home_banner_block p img { max-width: 100%; }
a.product_image img, a.product_img_link img { vertical-align: top; max-width: 100%; transition: all 0.5s ease-out 0s; }
a.product_image, a.product_img_link { border: 2px solid rgb(255, 255, 255); transition: all 0.5s ease 0s; overflow: hidden; display: block; }
a.product_image:hover, a.product_img_link:hover, a.product_image.prod_hover_active, a.product_img_link.prod_hover_active, .list_carousel li .cs_newarrival_p.prod_hover_active a.product_image { border: 2px solid rgb(230, 230, 230); }
a.product_image:hover img, a.product_img_link:hover img, a.product_image.prod_hover_active img, a.product_img_link.prod_hover_active img, .list_carousel li .cs_newarrival_p.prod_hover_active a.product_image img { transform: scale(1.3); opacity: 1; }
li a.content_img img, a img { transition: all 0.3s ease-out 0s; max-width: 100%; }
li a.content_img:hover img, a:hover img { opacity: 0.7; }
.bottom_nav { display: inline-block; }
.bottom_nav li { display: inline; }
.bottom_nav li + li { border-left: 1px solid rgb(38, 38, 38); margin-left: 7px; padding-left: 7px; }
.bottom_nav li a { color: rgb(25, 25, 25); font: 400 12px/1.35 "Open Sans",Helvetica,Arial,Verdana,sans-serif; }
p.copy_right { font-size: 11px; }
p.copy_right a { color: rgb(100, 100, 100); }
p.copy_right a:hover, .bottom_nav li a:hover { color: rgb(100, 100, 100); }
#footer_top { overflow: hidden; clear: both; }
input[type="checkbox"], input[type="radio"] { margin: 0px; padding: 0px; border: medium none; }
.cs_mode_contain { overflow: hidden; clear: both; margin: 0px auto; position: relative; }
.mode_footer_top { clear: both; }
.mode_copyright { clear: both; margin-top: -1px; }
#header #cart_block .title_block, #header #cart_block h4 { display: none; }
#header #cart_block { z-index: 100; display: none; position: absolute; right: 0px; top: 79px; height: auto; width: 350px; text-align: left; background: none repeat scroll 0% 0% rgb(255, 255, 255); box-shadow: 0px 0px 8px rgb(102, 102, 102); }
#header #cart_block:hover { border: medium none ! important; background: none repeat scroll 0% 0% rgb(255, 255, 255) ! important; }
#cart_block .title_block span, #header #cart_block h4 { float: right; padding-left: 10px; text-transform: none; background-position: left top; background-repeat: no-repeat; cursor: pointer; }
#cart_block .block_content { padding: 0px 0px 20px; overflow: hidden; }
#cart_block #cart_block_summary { display: none; }
#cart_block .price { display: block; padding-bottom: 5px; }
#cart_block #cart-prices { padding: 35px 20px; color: rgb(25, 25, 25); line-height: 20px; background: url('../images/bkg_top_title.png') no-repeat scroll center top transparent; }
#cart_block #cart-prices p { overflow: hidden; }
#cart_block #cart_block_shipping_cost, #cart_block #cart_block_total { float: right; }
#cart-buttons { overflow: hidden; padding: 0px 20px; }
#cart_block #cart_block_total { font-size: 18px; color: rgb(254, 96, 93); }
#cart_block #cart_block_shipping_cost { font-size: 12px; }
#cart_block #cart-buttons a { box-shadow: 0px 0px 0px 3px rgb(255, 150, 130) inset; }
#cart_block #cart-buttons a:hover, #cart_block #cart-buttons a.exclusive:hover { box-shadow: 0px 0px 0px 3px rgb(114, 230, 179) inset; }
#cart_block #cart-buttons #button_order_cart { margin-right: 10px; float: left; }
.myaccount ul { margin-bottom: 10px; }
.myaccount li { border-bottom: 1px solid rgb(238, 238, 238); }
.myaccount li a { display: block; padding: 7px 11px 5px 22px; color: rgb(51, 51, 51); background: url('../images/arrow_right_2.png') no-repeat scroll 10px 10px transparent; }
.myaccount p.logout { padding-bottom: 0px; font-weight: bold; text-align: right; }
#footer .myaccount .logout { display: none; }
#footer .myaccount ul { margin-bottom: 0px; }
#footer .myaccount li { border-bottom: medium none; }
#footer .myaccount li a { display: block; padding: 0px; background: none repeat scroll 0% 0% transparent; }
#footer .myaccount li a:hover { text-decoration: none; }
#header_right #header_user { clear: both; float: right; }
#header_right #header_user li { margin-left: 10px; margin-bottom: 10px; }
#header_user #header_nav {  }
#header_user #header_nav li#your_account { float: right; }
#header_user #header_nav li#shopping_cart { float: right; clear: both; padding: 15px 0px 10px; margin-bottom: 0px; }
#header_user li a { color: rgb(255, 255, 255); }
li#shopping_cart a { padding: 5px 0px 5px 40px; color: rgb(25, 25, 25); min-height: 30px; background: url('../images/cart.png') no-repeat scroll left center transparent; display: block; text-transform: uppercase; font-weight: 400; transition: none 0s ease 0s ; }
#shopping_cart a span { color: rgb(100, 100, 100); font-size: 12px; text-transform: none; }
#shopping_cart a:hover, #shopping_cart a:hover span { text-decoration: none; color: rgb(240, 156, 154); }
#header_user #shopping_cart .ajax_cart_total { display: none ! important; }
#header_user_info { float: right; margin: 0px; }
#header_user_info a {  }
#search_block_top { float: right; clear: both; width: auto; height: 30px; margin-top: 16px; }
#search_block_top p { padding: 0px; margin: 0px; }
#search_block_top #search_query_top { width: 230px; float: left; height: 31px; line-height: 1.35; background: none repeat scroll 0% 0% rgb(255, 255, 255); border: 1px solid rgb(220, 220, 220); padding: 7px 10px; color: rgb(100, 100, 100); margin: 1px 5px 0px 0px; }
#search_block_top .button { border: medium none; border-radius: 0px; color: rgb(255, 255, 255); text-transform: uppercase; background: url('../images/i_search.png') no-repeat scroll center center transparent ! important; float: right; height: 30px; width: 30px; text-indent: -9999px; padding: 0px; box-shadow: none; }
form#searchbox { overflow: hidden; padding: 0px; }
@media not all {
	form#searchbox { padding-left: 5px; }
}
form#searchbox label { color: rgb(51, 51, 51); margin-bottom: 1px; display: none; }
ul#header_links { display: block; }
#header_links li { float: left; margin-right: 10px; margin-bottom: 10px; }
#header_links li a { color: rgb(255, 255, 255); }
#header_links li a:hover, #header_links li a.active { text-decoration: none; color: rgb(236, 29, 120); }


.dropdown-menu.drp_mnu {
    width: 392px;
}

.dropdown-menu.drp_mnu li{width:50% !important; float:left}
ul#header_links li .dropdown-menu li:last-child{width:100% !important; padding:6px 0px}
.dropdown-menu.drp_mnu li.divider{width:100% !important}
.dropdown-menu.drp_mnu li a{font-size:13px;}
.dropdown-menu.drp_mnu li a:hover{background:none !important; color:#ec1d78 !important}

.manufacturerContainer { padding: 15px 0px; border: 1px solid rgb(230, 230, 230); clear: both; margin-top: 20px; overflow: hidden; }
.list_manufacturer { width: 360px; }
.list_manufacturer ul { margin: 0px; padding: 0px; list-style: none outside none; display: block; width: 4158px; }
.list_manufacturer li { width: auto; height: auto; padding: 0px; margin: 0px 10px 0px 10px; vertical-align: middle; float: left; }
.list_manufacturer li a { display: block; }
.list_manufacturer li a img { vertical-align: middle; max-width: 100%; height: 44px; }
.list_manufacturer.responsive { margin: 0px; padding: 0px 30px; width: auto; display: block; position: relative; }
.cclearfix { float: none; clear: both; }
.ui-tabs .ui-tabs-hide { display: block; visibility: hidden; height: 0px; }
.manufacturerContainer a.btn { position: absolute; top: 50%; margin-top:-10px; text-indent: -9999px; float: left; background-image: url('../images/bkg_pre_next_001.png'); background-repeat: no-repeat; width: 20px; height: 21px; transition: all 0.3s ease 0s; z-index: 0; }
.manufacturerContainer a.btn:hover { background-image: url('../images/bkg_pre_next_001.png'); }
.manufacturerContainer a.prev { left: 0px; background-position: 0px 0px; }
.manufacturerContainer a.next { right: 0px; background-position: 0px 100%; }
.manufacturerContainer a.prev:hover { background-position: -20px 0px; }
.manufacturerContainer a.next:hover { background-position: -20px 100%; }
#countries {  }
#countries span { float: left; }
#countries .countries_ul { z-index: 10000; list-style-type: none; float: left; }
#countries .countries_ul li { float: left; margin-left: 7px; }
#countries .countries_ul li img { vertical-align: middle; }
#setCurrency {  }
#setCurrency select { min-width: 100px; background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(100, 100, 100); border: 1px solid rgb(220, 220, 220); }
#cs_quickview_handler { position: absolute; display: block; }
a#cs_quickview_handler { background: none repeat scroll 0% 0% rgb(230, 230, 230); font-size: 10px; color: rgb(0, 0, 0); padding: 7px 15px; text-transform: uppercase; transition: all 0.3s ease-out 0s; }
a#cs_quickview_handler:hover { background: none repeat scroll 0% 0% rgb(255, 150, 130); }
@media not all, only screen and (min--moz-device-pixel-ratio: 1.5), not all {
}
#ambiance-notification { display: block ! important; position: fixed; top: 10px; right: 10px; z-index: 9999; }
.caroufredsel_wrapper { margin: 0px ! important; width: 100% ! important; }
#menu { clear: both; padding: 0px 0px 0px 39px; min-height: 50px; background: url('../images/bkg_left_menu.png') no-repeat scroll 0px 0px transparent; }
#menu ul { list-style: none outside none; margin: 0px; padding: 0px; }
#menu ul.ul_mega_menu { text-align: center; padding: 0px 39px 0px 0px; background: url('../images/bkg_right_menu.png') no-repeat scroll right top transparent; min-height: 50px; }
#menu ul li.menu_item { width: auto; float: none; display: inline-block; position: relative; margin: 0px; padding: 0px; transition: all 0.5s ease-in-out 0s; }
#menu ul li.menu_item a { float: none; padding: 0px 20px; display: table-cell; vertical-align: middle; height: 40px; color: rgb(255, 255, 255); font: 400 14px/16px "Open Sans",arial; text-transform: uppercase; }
#menu ul li.menu_item a:hover { text-decoration: underline; }
#menu > ul > li:last-child { padding-right: 0px; }
#menu > ul > li ul > li { padding: 5px 20px; display: block; width: auto; position: relative; z-index: 20; }
#menu > ul > li ul > li.parent { background: url('../images/bkg_arrow.png') no-repeat scroll right 10px transparent; }
#menu > ul > li ul > li.parent:hover { z-index: 100; }
#menu > ul li > div.options_list, #menu > ul li > div.sub_menu, #cs_megamenu_more .more-menu { top: auto; border: 1px solid rgb(230, 230, 230); margin: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); position: absolute; z-index: 100; padding: 20px 0px; text-align: left; display: none; }
#menu > ul li > div.sub_menu { width: 100% ! important; }
#menu > ul > li > div { display: none; }
#menu ul ul > li.parent div.sub_menu { left: 100%; top: -21px; opacity: 0; }
#menu ul ul > li.parent:hover div.sub_menu { left: 100%; top: -21px; z-index: 100; opacity: 1; }
#menu > ul li.menu_item > div a { color: rgb(100, 100, 100); text-decoration: none; text-transform: none; display: block; padding: 0px; margin: 0px; z-index: 20; height: auto; position: relative; font: 400 12px/1.35 arial; }
#menu > ul li.menu_item > div a:hover { transition: all 0.5s ease 0s; color: rgb(254, 96, 93); text-decoration: none; }
#menu > ul > li .options_list ul { float: left; }
#menu > ul > li div a:hover, #menu > ul li.menu_item > div a:hover, #menu ul li .product_item a:hover { color: rgb(254, 96, 93); text-decoration: none; transition: all 0.5s ease 0s; }
#menu .option ul li { position: relative; }
#menu ul li ul li { position: relative; }
#menu ul li ul li:hover > div.sub_menu { display: block; }
#menu ul li .div_static { margin: 0px; color: rgb(100, 100, 100); padding: 0px 20px; }
#menu ul li .div_static .static_menu_6 { margin-bottom: 10px; }
#menu ul li .div_static h3 { padding-bottom: 15px; padding-top: 15px; font-size: 12px; text-transform: uppercase; }
#menu ul li .div_static h3.title_2 { margin-top: 10px; border-top: 1px dotted rgb(200, 200, 200); }
#menu ul li.cs_m_manufacter div.options_list { padding: 20px 20px 0px 0px; }
#menu ul li .manufacture .product_item { width: auto; float: left; padding: 0px 0px 20px 20px; }
#menu ul li .manufacture .product_item a { display: block; border: 1px solid rgb(230, 230, 230); text-align: center; }
#menu ul li .manufacture .product_item a img { max-width: 100%; vertical-align: top; }
#menu ul li .ajax_block_product { padding: 0px 20px ! important; overflow: hidden; }
#menu ul li .ajax_block_product + .ajax_block_product { margin-top: 20px; }
#menu ul li .ajax_block_product, #menu ul li .ajax_block_product a {  }
#menu ul li .ajax_block_product .image { float: left; padding-right: 20px; margin-bottom: 10px; }
#menu ul li .ajax_block_product .product_image_menu { display: block; }
#menu ul li .ajax_block_product .product_image_menu img { max-width: 100%; }
#menu ul li .ajax_block_product h3 a { color: rgb(25, 25, 25); font: 400 12px/15px "Open Sans",arial; text-transform: uppercase; display: inline; }
#menu ul li .ajax_block_product a:hover { text-decoration: none; }
#menu ul li .ajax_block_product p { margin: 0px 0px 5px; }
.cs_hide_p .name_product, .cs_hide_p .price { display: none; }
#menu ul li.cs_hide_p .ajax_block_product .image { float: none; padding: 0px; margin-bottom: 10px; }
.cs_st_img { text-align: center; margin-bottom: 10px; }
.cs_st_img img { max-width: 100%; }
#megamenu-responsive { width: 100%; position: relative; z-index: 98; clear: both; line-height: 17px; display: none; text-align: left; }
.menu-toggle > p { background: url('../images/menu.png') no-repeat scroll 50% center transparent; display: block; float: left; height: 30px; left: 5px; margin: 0px; position: absolute; top: 3px; width: 30px; }
.menu-toggle { padding: 5px; margin: 0px ! important; background: none repeat scroll 0% 0% rgb(229, 122, 119); color: rgb(255, 255, 255); font-size: 14px; cursor: pointer; text-align: center; position: relative; }
#megamenu-responsive-root {  }
#megamenu-responsive-root li.root { padding: 0px; }
#megamenu-responsive-root > li { padding: 10px 0px; display: block; text-transform: uppercase; font: 400 14px/16px "Open Sans",arial; color: rgb(255, 255, 255); }
#megamenu-responsive-root > li a { padding: 10px; display: block; background: none repeat scroll 0% 0% rgb(229, 122, 119); color: rgb(255, 255, 255); text-align: center; font: 400 14px/16px "Open Sans",arial; border-top: 1px solid rgb(240, 156, 154); }
#megamenu-responsive-root li.root > ul { display: none; }
#megamenu-responsive-root li.parent > ul { display: none; }
#megamenu-responsive li.parent { clear: both; }
#megamenu-responsive .root li { padding: 0px; }
#megamenu-responsive .root li a:hover { color: rgb(85, 173, 255); text-decoration: none; }
#megamenu-responsive li.parent ul { clear: both; }
#megamenu-responsive .root li ul { padding: 0px; overflow: hidden; }
#megamenu-responsive ul span {  }
#megamenu-responsive a { display: block; }
#megamenu-responsive li.parent > a span { display: block; }
#megamenu-responsive li.parent > p { display: block; float: right; padding: 10px; width: 10px; height: auto; line-height: 17px; text-align: center; cursor: default; font-weight: 700; font-size: 25px; color: rgb(255, 255, 255); margin: 0px; }
a.product_image img { max-width: 100%; }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}
@media only screen and (max-width: 1023px) {
	#menu ul li.menu_item a { padding: 0px 10px; }
	#menu > ul > li .options_list ul { width: 100% ! important; margin-bottom: 15px; }
	
}
@media only screen and (max-width: 767px) {
	#menu { display: none ! important; }
	#megamenu-responsive { display: block; margin-bottom: 10px; }
	.responsive aside.side-nav
	{
		width:100%;
	}
	.responsive article.vendor-info
	{
		width:100%;
	}
	.profile-pic .table
	{
		margin-bottom:0px;
	}
	div.pro-rpt-spc .about
	{
		padding-top:0px;
		width:100%;
	}
}
.spanColumn, .spanOption { display: none; }
.colorpicker { width: 356px; height: 176px; overflow: hidden; position: absolute; background: url('../images/colorpicker_background.png') repeat scroll 0% 0% transparent; font-family: Arial,Helvetica,sans-serif; display: none; z-index: 1001; }
.colorpicker_color { width: 150px; height: 150px; left: 14px; top: 13px; position: absolute; background: none repeat scroll 0% 0% rgb(255, 0, 0); overflow: hidden; cursor: crosshair; }
.colorpicker_color div { position: absolute; top: 0px; left: 0px; width: 150px; height: 150px; background: url('../images/colorpicker_overlay.png') repeat scroll 0% 0% transparent; }
.colorpicker_color div div { position: absolute; top: 0px; left: 0px; width: 11px; height: 11px; overflow: hidden; background: url('../images/colorpicker_select.gif') repeat scroll 0% 0% transparent; margin: -5px 0px 0px -5px; }
.colorpicker_hue { position: absolute; top: 13px; left: 171px; width: 35px; height: 150px; cursor: n-resize; }
.colorpicker_hue div { position: absolute; width: 35px; height: 9px; overflow: hidden; background: url('../images/colorpicker_indic.gif') repeat scroll left top transparent; margin: -4px 0px 0px; left: 0px; }
.colorpicker_new_color { position: absolute; width: 60px; height: 30px; left: 213px; top: 13px; background: none repeat scroll 0% 0% rgb(255, 0, 0); }
.colorpicker_current_color { position: absolute; width: 60px; height: 30px; left: 283px; top: 13px; background: none repeat scroll 0% 0% rgb(255, 0, 0); }
.colorpicker input { background-color: transparent; border: 1px solid transparent; position: absolute; font-size: 10px; font-family: Arial,Helvetica,sans-serif; color: rgb(137, 137, 137); top: 4px; right: 11px; text-align: right; margin: 0px; padding: 0px; height: 11px; }
.colorpicker_hex { position: absolute; width: 72px; height: 22px; background: url('../images/colorpicker_hex.png') repeat scroll center top transparent; left: 212px; top: 142px; }
.colorpicker_hex input { right: 6px; }
.colorpicker_field { height: 22px; width: 62px; background-position: center top; position: absolute; }
.colorpicker_field span { position: absolute; width: 12px; height: 22px; overflow: hidden; top: 0px; right: 0px; cursor: n-resize; }
.colorpicker_rgb_r { background-image: url('../images/colorpicker_rgb_r.png'); top: 52px; left: 212px; }
.colorpicker_rgb_g { background-image: url('../images/colorpicker_rgb_g.png'); top: 82px; left: 212px; }
.colorpicker_rgb_b { background-image: url('../images/colorpicker_rgb_b.png'); top: 112px; left: 212px; }
.colorpicker_hsb_h { background-image: url('../images/colorpicker_hsb_h.png'); top: 52px; left: 282px; }
.colorpicker_hsb_s { background-image: url('../images/colorpicker_hsb_s.png'); top: 82px; left: 282px; }
.colorpicker_hsb_b { background-image: url('../images/colorpicker_hsb_b.png'); top: 112px; left: 282px; }
.colorpicker_submit { position: absolute; width: 22px; height: 22px; background: url('../images/colorpicker_submit.png') repeat scroll center top transparent; left: 322px; top: 142px; overflow: hidden; }
.cpanelContainer { position: fixed; left: 0px; top: 10%; float: left; z-index: 1000; font: 12px/16px "Roboto",Arial,Verdana,sans-serif ! important; display: block ! important; padding-left: 50px; }
@media only screen and (max-width: 959px) {
	.cpanelContainer { top: 0px; }
}
.cpanelContainer ul { background-color: transparent ! important; width: 100%; }
.cpanel_icon span { display: none; }
.cpanel_icon { background: url('../images/close-open.png') no-repeat scroll 0% 0% transparent; width: 47px; height: 47px; cursor: pointer; float: right; position: absolute; left: 0px; top: 0px; z-index: 999; border: 1px solid rgb(206, 206, 206); box-shadow: 0px 0px 8px rgb(188, 188, 188) inset; opacity: 1; }
.cpanel_icon:hover { transition: all 0.2s ease 0s; background: url('../images/close-open.png') no-repeat scroll 0% 0% transparent; opacity: 0.5; }
.cpanel_content_container {  }
.out_improved { overflow: hidden; text-align: left; padding-bottom: 20px; color: rgb(10, 10, 10) ! important; }
#cs_reset_setting { margin-left: 15px; height: 32px; display: inline-block; padding: 0px 15px 2px; border: medium none; font-weight: 700; font-size: 12px; color: rgb(255, 255, 255); text-transform: uppercase; background: none repeat scroll 0% 0% rgb(0, 0, 0); border-radius: 3px ! important; cursor: pointer; line-height: 1em; }
#cs_reset_setting:hover { background: none repeat scroll 0% 0% rgb(225, 6, 6); transition: all 500ms ease-in-out 0s; }
.cpanel_closed .out_improved { display: none; }
.cpanel_content_container.cpanel_closed .theme_sett_heading { display: none; background: none repeat scroll 0% 0% transparent; }
.cpanel_content_container #improved { padding: 0px; margin-bottom: 20px; max-height: 400px; overflow-y: auto; }
.cpanelContainer ul li a { color: rgb(0, 0, 0) ! important; }
.cpanelContainer ul li:hover { background-color: transparent; }
.cpanelContainer ul li { display: block; padding: 7px 15px; border-top: 1px solid rgb(230, 230, 230); }
.cpanelContainer ul li:hover { background: none repeat scroll 0% 0% rgb(230, 230, 230); }
.cpanelContainer ul li a.head { font: 400 14px/15px "Roboto",Georgia,Arial,'sans-serif' ! important; background: url('../images/icon_shopby.png') no-repeat scroll right -17px transparent; }
.cpanelContainer ul li a.head:hover { text-decoration: none; color: rgb(175, 6, 0); }
.cpanelContainer ul li .content { padding-top: 10px; width: 100%; }
.cpanelContainer ul li .content select { width: 90%; margin-bottom: 5px; box-shadow: 0px 1px 2px rgb(220, 220, 220) inset; padding: 4px 5px; border: 1px solid rgb(204, 204, 204); height: auto; }
.cpanelContainer ul li .content .row p { display: block; margin: 5px 0px ! important; }
.cpanelContainer ul li .content .row input[type="radio"] { vertical-align: -2px; margin-right: 5px; }
.head { text-decoration: none; font-size: 20px; display: block; }
.content { display: none; }
#improved li { position: relative; overflow: hidden; padding-right: 15px; }
#improved {  }
#improved .content .pattern_item { width: 30px; height: 30px; border: 1px solid rgb(220, 220, 220); cursor: pointer; float: left; margin: 0px 5px 4px 0px; }
#improved .content .pattern_item:hover, #improved .content .pattern_item.active { border: 1px solid rgb(0, 0, 0); }
#improved p { margin: 0px; padding: 0px; }
#improved .color_item, #improved .font_item { border-top: medium none; }
#improved .color_item, #improved .font_item { overflow: hidden; padding: 5px 0px 10px; border-top: 1px solid rgb(241, 241, 241); margin-bottom: 5px; }
#improved .color_item h4 { float: left; width: 210px; padding-top: 5px; }
.bg_color_setting { background-image: url('../images/bkg_color_select.png') ! important; float: right; text-indent: -9999px; width: 21px; height: 21px; background-repeat: no-repeat; border: 1px solid rgb(153, 153, 153); }
#improved .font_item select { width: 100%; padding: 3px; margin: 2px 0px; }
.font_item h4, .color_item h4 { font-family: "Roboto",Arial,Verdana,sans-serif ! important; color: rgb(10, 10, 10) ! important; font-weight: 400; }
.font_item h4 { padding-bottom: 5px; }
.cs_revolution { overflow: hidden; clear: both; width: 100%; float: left; }
.tp-caption { z-index: 1; }
.tp-caption.large_text { position: absolute; color: rgb(0, 0, 0); text-shadow: none; font-weight: 800; font-size: 60px; line-height: 60px; font-family: 'Caudex',sans; margin: 0px; border-width: 0px; border-style: none; white-space: nowrap; text-transform: uppercase; }
.tp-caption.very_large_text { position: absolute; color: rgb(255, 255, 255); text-shadow: none; font-weight: 700; font-size: 50px; line-height: 50px; font-family: 'Caudex',sans; margin: 0px; border-width: 0px; border-style: none; white-space: nowrap; letter-spacing: 0px; text-transform: uppercase; }
.button { padding: 6px 13px 5px; border-radius: 3px; height: 30px; cursor: pointer; color: rgb(255, 255, 255) ! important; text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6) ! important; font-size: 15px; line-height: 45px ! important; background: url('../images/g30.png') repeat-x scroll center top transparent; font-family: arial,sans-serif; font-weight: bold; letter-spacing: -1px; }
.purchase:hover, .button:hover, .button.big:hover { background-position: center bottom, 15px 11px; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.button { padding: 4px 8px 3px; line-height: 25px ! important; font-size: 11px ! important; font-weight: normal; }
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
	.button { padding: 2px 5px; line-height: 20px ! important; font-size: 10px ! important; }
}
.tp-simpleresponsive .slotholder *, .tp-simpleresponsive img {  }
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption { opacity: 0; position: absolute; visibility: hidden; }
.tp-simpleresponsive img { max-width: none; }
.tparrows { opacity: 1; transition: opacity 0.2s ease-out 0s; }
.tparrows.hidearrows { opacity: 0; }
.tp-leftarrow { z-index: 100; cursor: pointer; position: relative; background: url('../images/large_left.png') no-repeat scroll left top transparent; width: 40px; height: 40px; }
.tp-rightarrow { z-index: 100; cursor: pointer; position: relative; background: url('../images/large_right.png') no-repeat scroll left top transparent; width: 40px; height: 40px; }
.tp-leftarrow.default, .tp-rightarrow.default { background-image: url('../images/bkg_pre_next_002.png'); background-repeat: no-repeat; width: 18px; height: 34px; cursor: pointer; z-index: 100; }
.tp-leftarrow.default { background-position: 0px 0px; }
.tp-rightarrow.default { background-position: 100% 0px; }
.tp-leftarrow:hover { background-position: 0px 100%; }
.tp-rightarrow:hover { background-position: 100% 100%; }
.tp-bannertimer { width: 100%; height: 10px; background: url('../images/timer.png') repeat scroll 0% 0% transparent; position: absolute; z-index: 200; }
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
	.responsive .tparrows { display: none; }
	.top_banner_slider li{ width:100% !important; margin:0px !important;}
}
.tp-simpleresponsive img { -moz-user-select: none; }
.tp-simpleresponsive a { text-decoration: none; }
.tp-simpleresponsive ul { list-style: none outside none; padding: 0px; margin: 0px; }
.tp-simpleresponsive > ul > li { position: absolute; visibility: hidden; width: 100%; height: 100%; }
.tp-loader { background: url('../images/loader.gif') no-repeat scroll 10px 10px rgb(255, 255, 255); margin: -22px; top: 50%; left: 50%; z-index: 10000; position: absolute; width: 44px; height: 44px; border-radius: 3px; }
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
}
.fullwidthbanner-container { width: 100% ! important; position: relative; padding: 0px; overflow: hidden; }
.topauto { top: auto ! important; }
.cs_slidelink { height: 100%; left: 0px; position: absolute; top: 0px; width: 100%; z-index: 100 ! important; background: url('../images/blank.gif') repeat scroll 0px 0px transparent; }
.tp-simpleresponsive > ul > li .cs_slidelink { z-index: 100; }
.topauto, .tparrows { top: auto ! important; }
.home_top_tab { position: relative; overflow: hidden; }
.ui-helper-reset { margin: 0px; padding: 0px; border: 0px none; outline: 0px none; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none outside none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix {  }
.ui-tabs { position: relative; padding: 0px; }
.ui-tabs .ui-tabs-nav, .title_tab, .title_tab_hide_show { border-width: medium medium 1px; border-style: none none solid; border-color:#dcdcdc; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-bottom: 20px; text-align: center; }
.home_top_tab h4.title_block { background: none repeat scroll 0% 0% transparent ! important; padding: 0px; }
.home_top_tab h4.title_block span { display: block; padding: 7px 20px; }
.ui-tabs .ui-tabs-nav li { display: inline-block; border-width: 1px 1px medium; border-style: solid solid none; border-color: #dcdcdc; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding-top: 2px; }
.home_top_tab .ui-tabs-selected { background: url('../images/bkg_tab_active.jpg') repeat-x scroll 0px 0px transparent; border-top: medium none; margin-bottom: -1px; }
.home_top_tab .ui-tabs-selected h4.title_block { background: none repeat scroll 0% 0% rgb(255, 255, 255); margin-bottom: 1px; }
.ui-tabs .ui-tabs-nav li h4.title_block span a:hover { color: rgb(225, 20, 20); }
.ui-tabs .ui-tabs-nav li a { color: rgb(100, 100, 100); }
.ui-tabs .ui-tabs-nav li a, .title_tab, .title_tab_hide_show { padding: 0px; text-decoration: none; font-size: 14px; text-align: left; font-weight: 400; font-family: 'Open Sans',arial; line-height: 20px; text-transform: uppercase; color: rgb(100, 100, 100); }
.title_tab_hide_show { padding: 7px 20px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li a:hover { color: rgb(25, 25, 25); text-transform: uppercase; font-family: 'Open Sans',arial; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; }
.ui-tabs .ui-tabs-panel { display: block; border-width: 0px; padding: 0px; background: none repeat scroll 0% 0% transparent; float:left; width:100%; }
.ui-tabs .ui-tabs-hide { display: none; }
.ui-widget {  }
.ui-widget-content { margin-bottom: 0px ! important; border: medium none; background-color: transparent; }
.ui-widget-content a {  }
.ui-widget-header {  }
.ui-widget-header a { color: rgb(34, 34, 34); }
.home_top_tab .bt { text-indent: -9999px; width: 32px; height: 32px; position: absolute; top: 0px; background-image: url('../images/btn_pre_next.png'); background-repeat: no-repeat; z-index: 100; }
.home_top_tab .prev { background-position: 0px 0px; right: 35px; }
.home_top_tab .next { background-position: 0px 100%; right: 0px; }
.home_top_tab .prev:hover { background-position: 100% 0px; }
.home_top_tab .next:hover { background-position: 100% 100%; }
.product-list li a {  }
.product-list li a:hover {  }
.tabs-carousel { margin-bottom: 20px; }
.tabs-carousel .prev, .tabs-carousel .next {  }
@media only screen and (max-width: 767px) {
	.tabs-carousel { margin-bottom: 20px; position: relative; }
	.home_top_tab .bt { top: -55px; }
}
.list_carousel { width: 360px; }
.list_carousel .caroufredsel_wrapper { overflow: visible ! important; }
.list_carousel ul { margin: 0px; padding: 0px; list-style: none outside none; display: block; }
.list_carousel li { width: 280px; padding: 0px; margin: 0px 0px 0px 20px; vertical-align: top; float: left; }
.list_carousel li .cs_newarrival_p { display: block; text-align: center; margin-bottom: 20px; position: relative; overflow: hidden; }
.list_carousel li .cs_newarrival_p a.product_image img { border: medium none; }
.list_carousel li .cs_newarrival_p.product-2 { margin-bottom: 0px; }
.list_carousel li .cs_newarrival_p .cs_hide { position: absolute; z-index: 100; width: 100%; transition: all 0.3s ease-out 0s; bottom: -200px; background: none repeat scroll 0% 0% rgb(230, 230, 230); opacity: 0; }
.list_carousel li .cs_newarrival_p:hover .cs_hide, .list_carousel li .cs_newarrival_p.prod_hover_active .cs_hide { bottom: 0px; opacity: 1; }
.list_carousel li .cs_newarrival_p .cs_hide .cs_new_bottom .name_product, .cs_new_bottom .star_content, .cs_new_bottom .products_list_price { padding-left: 10px; padding-right: 10px; }
.list_carousel li .cs_newarrival_p .cs_hide .cs_new_bottom, .cs_quickview_hometab { padding: 10px 0px 20px; }
.list_carousel li .star_content { display: inline-block; margin-bottom: 10px; }
.list_carousel li .star_content .star { cursor: text; }
.list_carousel.responsive { width: auto; margin-left: -20px; padding: 0px; }
.cclearfix { float: none; clear: both; }
.ui-tabs .ui-tabs-hide { display: block; visibility: hidden; height: 0px; }
@media only screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) {
	#footer .grid_4 { width: 140px ! important; }
	.cs_home_banner_block p.item { width: 222px; }
	#header_left { min-height: 150px; }
}
@media only screen and (max-width: 1023px) {
	#header_left { width: 100%; margin: 0px 0px 10px; min-height: 20px; }
	.free_shipping { position: relative; bottom: auto; left: auto; float: right; clear: right; }
	#header_content { width: auto; float: left; clear: left; padding-top: 0px; }
	#header_right { width: auto; }
	.cs_top_links { text-align: left; }
	.cs_top_links li { padding: 0px 10px 0px 0px; }
	.list_carousel li { height: auto ! important; }
	.list_carousel li .cs_newarrival_p .cs_hide { display: block ! important; opacity: 1 ! important; top: auto ! important; }
	.list_carousel li .cs_newarrival_p .cs_hide .cs_new_bottom { position: relative ! important; }
	.list_carousel li .cs_newarrival_p a.product_image img { border: medium none; }
	#header_user li a, #header_links li a, #header { color: rgb(25, 25, 25); }
	a.product_image:hover img, a.product_img_link:hover img, li a.content_img:hover img, a:hover img { opacity: 1; }
	.mode_header_content { background: none repeat scroll 0% 0% transparent; }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.jb-cntn-lst .dataTables_wrapper .control-label {
	 font-size:12px;
	}
	#header_content { width: 50%; text-align: left; }
	#header_content a img { max-width: 100%; }
	#footer .grid_4 { width: 235px ! important; margin: 0px 0px 15px; }
	#footer #block_various_links_footer, #footer .block_customer_service_links, #footer .myaccount, #footer #block_contact_infos { padding-right: 20px; }
	.cs_home_banner_block p.item { width: 173px; }
	div.free_shipping
	{
		padding-top:0px;
	}
	div#header_content
	{
		width:auto;
		max-width:320px;
	}
	#header_content a img
	{
		width:auto;
		max-width:300px;
	}
	div#search_block_top
	{
		margin-top:10px;
	}
	div.cl-bk-ip input
	{
		margin-left:15px; margin-bottom:10px;
	}
	div.rqst-ent-rpt input, div.rqst-ent-rpt .chosen-container { margin-left:15px;}
	div.rqst-ent-rpt .chosen-container { margin-left:15px;}
}
@media only screen and (max-width: 767px) {
	#megamenu-responsive { display:block !important;}
	.cs_both_mode #megamenu-responsive { display:none !important;}
	#create_account{max-width:inherit !important;
	left:10px !important;
	right:10px !important;
	top:10px !important;
	margin-left:0px !important;
	margin-top:0px !important;
	
	}
	div .home_top_tab .bt {top:-15px;}
	.home_top_tab .ui-tabs .ui-tabs-hide{ height:auto; visibility:visible;}
	div.tabs-carousel{ width:100%; display:inline-block; margin-bottom:20px !important;}
	.title_tab_hide_show{display:none !important;}
	div.form-group.mrgn-grp{ margin-left:0px ; margin-right:0px ;}
	.side-nav  ul.side-menu{ margin-bottom:20px;}
	.side-nav  ul.side-menu > li{ width:100%; border-right:none;}
	div.user_create_new_job .form-group .col-sm-10 { padding-left:0px; padding-right:0px;}
	.ifrma-hyt .col-sm-12 {padding-left:10px;}
	div.cl-bk-ip input
	{
		margin-left:0px; margin-bottom:10px;
	}
	.mrgn-rsp-mb{ margin-left:10px;}
	
	.user_create_new_job .sv-chng-btn{ margin-left:15px;}
	div.rqst-ent-rpt input, div.rqst-ent-rpt .chosen-container { margin-left:0px;}
	div.rqst-ent-rpt .chosen-container { margin-left:0px;}
	div.rqst-ent-rpt{width:100%; padding:0px;}
	div.rqst-ent-rpt label {
		width: 100%;
	}
	.eml-fnt h1{margin-top:20px;}
	.jb-mx-wdth .form-group .control-label{ margin-bottom:5px;}
	div.newjob h3{ margin:0px; padding:0px;}
	div.newjob #preview{margin-bottom:0px;}
	.frm-cntrl-stly {width:100%; position:relative;}
	.frm-cntrl-stly .input-group-btn{ position:absolute; right:80px; z-index:999; top:0px;}
	.my-list-cntct .input-group.input-lg {position:relative; width:100%;}
	.my-list-cntct .input-group-btn{ position:absolute; right:80px; z-index:999; top:0px;}
	.media-body.innerAll.half{margin-bottom:10px;}
	.de_activate.text-center{ text-align:left;}
	.user_create_new_job .col-sm-9 h3{margin-top:10px; margin-left:10px; padding-bottom:0px;	}
	.side-nav .profile-det{border:none;}	
	.side-nav ul.side-menu{ border-top:1px solid #ebebeb;}
	.mode_header #header{ text-align:center;}
	.side-nav ul.side-menu li a{line-height:22px;}
	#header ul#header_links, #header .free_shipping { display:inline-block; float:none;}
	#header .free_shipping { padding-top:0px;}
	#header #header_right{ text-align:center;}
	#header #header_links li{float:none;}
	#header_left{ margin-top:10px;}
	#header #header_user #header_nav li{ float:none !important; display:inline-block; margin:0px 8px;}
	#header #header_content{ text-align:center;}
	#header img.logo{ width:auto; float:none; display:inline-block; max-height:80px;}
	div#search_block_top{ margin-top:10px;}
	div#header_content{width:100%}
	body { font-size: 14px ! important; }
	#header { text-align: left; padding-top: 0px; }
	ul#header_links { padding: 5px 0px 10px; }
	ul#header_links, .free_shipping { display: block; float: left; color: rgb(25, 25, 25); }
	#header_right { float: left; width: 100%; text-align: left; }
	#header_right #header_user { margin: 10px 0px; float: left; width: auto; text-align: left; overflow: hidden; }
	#header_user #header_nav li { margin: 0px 15px 0px 0px; float: left ! important; color: rgb(25, 25, 25); }
	#header_content { text-align: left; }
	#header_logo img { max-width: 100%; }
	#header #cart_block, #left_column, #right_column { display: none ! important; }
	#header_user #header_nav li#shopping_cart { padding: 15px 0px 0px; }
	#search_block_top { width: 100%; }
	#search_block_top #search_query_top { width: 81%; }
	.cs_home_banner_block { margin: 10px 0px 0px; width: 100%; }
	.cs_home_banner_block p.item { margin: 0px 0px 15px; text-align: center; width: 100%; }
	.home_top_tab h4.title_block { margin-bottom: 0px; }
	.list_carousel.responsive { padding: 15px 0px 0px; }
	.cs_payment p { float: none; display: block; margin: 0px 0px 15px; overflow: hidden; }
	.cs_payment p a { margin: 0px 7px 0px 0px; }
	#currencies_block_footer, #languages_block_footer { float: left; margin: 0px 0px 5px; clear: left; }
	#footer_copyright { text-align: left; }
	#footer { padding-bottom: 0px; }
	#footer_bottom { padding: 0px; }
	.bottom_nav { padding: 10px 0px 5px; }
	.bottom_nav li { margin-right: 10px; }
	.bottom_nav li + li { border: medium none; padding-left: 0px; margin-left: 0px; }
	#block_contact_infos li { line-height: 18px; }
	#header_left { margin-bottom: 20px; }
	.cs_home_banner_block p.item.bn_4 { margin-top: -5px; }
	input { border-radius: 0px ! important; }
	.manufacturerContainer { margin-top: 0px; }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.cs_home_banner_block p.item { width: 208px; margin-right: 2px; }
	#footer .grid_4 { display: inline-block; float: none; margin: 0px 0px 15px; vertical-align: top; width: 197px ! important; }
	#footer #block_various_links_footer, #footer .blockcategories_footer, #footer #block_contact_infos { padding-right: 20px; }
}
@media only screen and (max-width: 479px) {
	.cs_home_banner_block p img { width: 100%; }
	#footer .block_customer_service_links .block_content { padding-top: 0px; }
	#footer .grid_4 { margin-bottom: 15px; }
}
@media screen and (max-device-width: 1024px) {
	a.product_image:hover img, a.product_img_link:hover img, a.product_image.prod_hover_active img, a.product_img_link.prod_hover_active img, .list_carousel li .cs_newarrival_p.prod_hover_active a.product_image img { transform: none; }
	.list_carousel li .cs_newarrival_p .cs_hide { display: none ! important; }
}
/* ::::: http://demo3.eggthemes.com/et_weddingday/style1/themes/et_weddingday/css/cs.animate.css ::::: */

.notouch .not-animated { opacity: 0; }
.notouch .animated { opacity: 1; animation-duration: 1s; animation-fill-mode: both; }
.notouch .animated.fadeInDown { animation-name: fadeInDown; }
.notouch .animated.fadeInRight { animation-name: fadeInRight; }
.notouch .animated.bounceIn { animation-name: bounceIn; }
/* ::::: http://demo3.eggthemes.com/et_weddingday/style1/modules/csthemeeditor/config.css.php ::::: */

.ui-widget-content.ui-chatbox
{
	background:#fff;
}
@media (min-width:992px)
{
.md-6-pd .col-md-6
{
	padding:0px;
}
.md-4-pd
{
	padding:0px;
}
.md-6-pd-s
{
	padding-left:0px;
}

	
	
}
@media (max-width:991px)
{

.side-nav a img.profile-pic2
{
	float:left;
}
a img.profile-pic2
{
	float:none;
}
.cntn-bd
{
	margin-bottom:10px;
}
.list-overflow.mCustomScrollbar 
{
	margin-bottom:10px;
}
.jb-cntn-lst .dataTables_wrapper .col-md-3 .control-label
{
	padding-left:15px;
	margin-top:0px;
}
div.dataTables_wrapper
{
	margin-top:0px;
}
.bugtpln-txt{ text-align:center;}
h1.dashboard-heading.headingWithActions
{
	text-align:center;
}
.bugtpln-txt .col-md-6{ margin:15px 0px; }
}
@media (min-width:768px)	
{
.user_create_new_job .col-sm-2.control-label
{
	padding-left:0px;
}
.dataTables_wrapper .separator > .col-md-3
{
	width:25%;float:left;
}
.dataTables_wrapper .separator > .col-md-6
{
	width:50%;
	float:left;
}
.mp-up-lyt
{
	margin-left: 220px;
    margin-right: 10px;
	width:auto;
	float:none;
	margin-top:0px;
}
nav.side-nav
{
	position:absolute;
	top:166px;
}
.mp-up-lyt .permalink
{
	display: inline-block;
    margin-top: 20px;
    width: 100%;
}
}
