.fshn-brnd
{
	border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    color: #ed1e79;
    display: inline-block;
    font-size: 35px;
    margin-top: 15px;
	font-family:"Times New Roman", Times, serif;
    padding: 6px 0;
    width: 100%;
}
.prot-tab .portfolio_navi.nav-tabs > li
{
	background:#cb4040 ;
	opacity:1;
	color:#fff;
	padding:0px;
	border:none !important;
	border-right: 1px solid #fff  !important;
}
.prot-tab .portfolio_navi.nav-tabs > li:hover
{
	opacity:0.5;
}
.prot-tab .portfolio_navi.nav-tabs > li a:hover
{
	background:#cb4040;
	color:#fff ;
}
.prot-tab .portfolio_navi.nav-tabs > li.active a:hover
{
	background:#fff;
	color:#444;
	border:none;
}
.prot-tab .portfolio_navi.nav-tabs > li.active:hover
{
	opacity:1;

}
.prot-tab .portfolio_navi.nav-tabs > li a
{
	padding: 20px;
	transition:none;
	border:none !important;
}
.prot-tab .portfolio_navi.nav-tabs > li a:hover
{
	border:none !important;
}
.prot-tab .portfolio_navi.nav-tabs > li.active
{
	background:#fff;
	color:#444;
	border:none;
}
.prot-tab .portfolio_navi.nav-tabs > li
{
	border-right:none;
}
.prot-tab .album_content {
	padding:20px;
	-moz-column-count:inherit;
	-moz-column-gap:inherit;
	-webkit-column-count:inherit;
	-webkit-column-gap:inherit;
	-ms-column-gap:inherit;
	-ms-column-count:inherit;
	-o-column-gap:inherit;
	-o-column-count:inherit;
	column-gap:inherit;
	column-count:inherit;
}
.prot-tab .album_det
{
	width:24%;
	margin:0 0.5% 10px;
	float:left;
}
.prot-tab .hover_placeho2 {
    background: none repeat scroll 0 0 rgba(212, 70, 70, 0.6);
    z-index: 10;
	 bottom: 0;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: auto;
}
.hover_placeho.hover_placeho2 {
    text-align: center;
}
.hover_placeho {
    width: 100%;
    max-height: 100%;
    transition: all 1s ease 0s;
}
.prot-tab .album_det
{
	position:relative;
}
.prot-tab .album_det:hover .hover_placeho2
{
	opacity:1;
}
.prot-tab .album_det .hover_placeho2 .album_name
{
	color:#fff;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-130%);
    width: 100%;
}
.prot-tab .album_det .hover_placeho2 .album_actions
{
    position: absolute;
    top: 50%;
	left:50%;
	margin-left:-10px;
    z-index: 10;
}
.prot-tab .album_det .hover_placeho2 .album_actions li i
{
	font-size: 35px;
    transform: translate(-50%, -50%);
	color:#fff;
}
.prot-tab .album_det .hover_placeho2 .album_actions li i:hover
{
	color:#000;
}
.prot-tab .hover_img
{
	position:relative;
}
.prot-tab .hover_img .hover_placeho
{
	bottom: 0;
    top: auto;
    transition: opacity 1s ease 0s;
	text-align: center;
	height: 100%;
    position: absolute;
	width:100%;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    max-height: 100%;
}
.prot-tab .hover_img:hover .hover_placeho
{
	opacity:1;
}
.prot-tab .hover_img .like_btn_topright {
    color: #ffffff;
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.prot-tab .hover_img .like_btn_topright i {
    text-shadow: 0 0 6px #ffffff;
}
.prot-tab .hover_img .like_btn_topright .like-count, .prot-tab .hover_img .like_btn_topright .follow-count {
    font-family: PT Sans,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-style: normal;
	display:block;
}
.prot-tab .buttonsLike {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.fa-heart-o:hover {
    color: #cb2027;
}
.prot-tab .albm-cntnt-spc
{
	padding:20px;
}
.prot-tab .albm-cntnt-spc .album_img_iso
{
	padding:0px;
}