<?php $this->placeholder('slider')->captureStart() ?>

<div class="wrapper">
    <div class="container-fluid">
        <div class="row">
 	    <div id= "final_message"></div>
	   <div class="step2 hide">Saving Contacts.....</div>
            <div style="padding-left: 50px;">
		<?php if($this->data) { ?>
                <h3>Email Addresses:</h3>
                <form name="gmail" action="<?php echo PUBLIC_URI; ?>/users/index/gmail-contacts/format/html" id="gcontact" method="post">
                <?php
                    foreach ($this->data as $title) {
                        echo $title->attributes()->address . "<br>";
                ?>
                    <input type="hidden" name="contacts[]" value="<?php echo  $title->attributes()->address; ?>">                
                <?php
                
                    }
                
                ?>
                <br />
                   <input type="button"  id="gmailcontacts" value="Save Contacts" class="btn btn-primary">
                </form>
	    <?php }else { ?>

		You have no contacts.


	   <?php } ?>
            </div>
        </div>
  </div>

</div> 

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

