<?php 
if(@$this->data['data']){
?>
<div class="alert alert-success">
<?php echo $this->data['data']; ?>
</div>
<?php
}
else if(@$this->data['data_limit']){
?>
<div class="alert alert-danger">
<?php echo $this->data['data_limit'];  ?>
</div>
<?php	
}
?>
