<?php $this->placeholder('staticStylesheet')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>
<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<h1 class="bg-white content-heading border-bottom">Messages</h1>
<div class="innerAll spacing-x2">
	<div class="widget widget-inverse">		
		<div class="widget-head">
			<h4 class="heading">
				<a href="<?php echo $this->baseUrl(); ?>/admin/messages">My Messages</a>
			</h4>
			<ul class="list-inline">
				<li>
					<a href="<?php echo $this->baseUrl(); ?>/admin/messages/new">Compose New</a>
				</li>
			</ul>
		</div>
		<div class="widget-body padding-bottom-none">
		<?php if( $this->data ) {  ?>
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>User</th>
						<th>From</th>
						<th>Message</th>
						<th>Convo</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>
					<?php 
						if( isset($this->data['messages'][0] )) {	
							
							foreach( $this->data['messages'] as $data => $value ) {
					?>																	
					<?php 			if($this->data['media']){									
									foreach( $this->data['media'] as $d => $v ) {
										if( $value['by_from'] == $v['owner'] ) 											{	
											 $src = PUBLIC_URI.'/media/'.$v['owner'].'/user-avatar_'.$v['owner'].'_0_35x35'.$v['type'];
				    			if (@getimagesize($src)) {
								$image = $src;
				   			 }else {
								$image =  PUBLIC_URI.'/images/msg-pro.jpg';
				    			}

										}
								}				
					?>						<tr id="message_<?php echo $value['id']; ?>" class="gradeX order">
												<td>
													<img class="img-circle" src="<?php echo $image; ?>" alt="DP">
												</td>
												<td>
													<?php echo $value['by_from']; ?>
												</td>
												<td>
													<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $value['conv_id'].'/to/'.$value['by_from']; ?>">
														<?php echo $value['message'];?>
													</a>
												</td>
												<td><a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $value['conv_id'].'/to/'.$value['by_from']; ?>">#<?php echo $value['conv_id']; ?></a></td>
												<td><?php echo $value['status']; ?></td>
												<td class="center">
													<div class="btn-group btn-group-sm">
														<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $value['conv_id']; ?>/to/<?php echo $value['by_from'] ; ?>" class="btn btn-default"><i class="fa fa-eye"></i></a>
														<a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this conversation ?')" href="<?php echo $this->baseUrl(); ?>/admin/messages/del?id=<?php echo $value['conv_id']; ?>&type=inbox"><i class="fa fa-times"></i></a>
													</div>											
												</td>
											</tr>			
					<?php     				
								
								    
								} else {
					?>				
									<tr id="message_<?php echo $value['id']; ?>" class="gradeX order">
										<td>
											<img class="img-circle" src="<?php echo PUBLIC_URI ;?>/images/msg-pro.jpg" alt="DP">
										</td>
										<td>
											<?php echo $value['by_from']; ?>
										</td>
										<td>
											<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $value['conv_id'].'/to/'.$value['by_from']; ?>">
												<?php echo $value['message'];?>
											</a>
										</td>
										<td><a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $value['conv_id'].'/to/'.$value['by_from']; ?>">#<?php echo $value['conv_id']; ?></a></td>
										<td><?php echo $value['status']; ?></td>
										<td class="center">
											<div class="btn-group btn-group-sm">
												<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $value['conv_id']; ?>/to/<?php echo $value['by_from'] ; ?>" class="btn btn-default"><i class="fa fa-eye"></i></a>
												<a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this conversation ?')" href="<?php echo $this->baseUrl(); ?>/admin/messages/del?id=<?php echo $value['conv_id']; ?>&type=inbox"><i class="fa fa-times"></i></a>
											</div>											
										</td>
									</tr>
									
					<?php				
								}
							}
						} else {
					?>
							Nothing here.
					<?php
						}
					?>
		
				</tbody>
				<!-- // Table body END -->
	
			</table><!-- // Table END -->
		<?php }else {
			?>
			Nothing here.
			
			<?php
			
		}?>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
