<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>

<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
	<h1 class="bg-white content-heading border-bottom">Messages</h1>
	<div class="innerAll spacing-x2">
	<style>
		.sucs-sent-msg
		{
			background: #9DC209;
			left: 50%;
			color: #fff;
			margin: 0 auto 0 -200px;
			min-width: 400px;
			padding:5px 10px;
			position: fixed;
			text-align: center;
			font-weight: bold;
			top: 54px;
		}
	</style>
		<!-- Widget -->
		
		<?php if( $this->data['method'] == 'POST' ) {    ?>
			<span class="sucs-sent-msg">Message has been sent.</span>
			<script>
				setTimeout(function(){
					$(".sucs-sent-msg").hide();
					window.location.href = "<?php echo $this->baseUrl(); ?>/admin/messages/new";
				}, 2000);
			</script>				
		<?php }	?>
		<div class="widget widget-tabs widget-tabs-gray border-bottom-none">
	
			<!-- Widget heading -->
			<div class="widget-head">
				<h4 class="heading">
					Compose Message
				</h4>
			</div>
			<!-- // Widget heading END -->
	
			<div class="widget-body">
				<div class="tab-content">
				
					<!-- Tab content -->
					<div id="account-details">
						<!-- Row -->
						<div class="row">
							<form name="mailmessage" id="mailmessage" action="" method="post">
								<div class="form-group">
									<label for="inputEmail">To(enter email) :</label>
									<!--<input type="email" required class="form-control" id="inputEmail" placeholder="Email">		-->		
									<div class="row innerLR">
							
										<select required  name="select2[]" style="width: 100%;" id="select2_3">
											
											<optgroup label="Send Mail To Users">
												<option></option>
												<?php 
												if($this->data['users']) {
													
													foreach($this->data['users'] as $key => $user){
														if($user->id != $sess->user) {
												?>
														
															<option value="<?php echo $user->id ;?>"><?php echo $user->email ;?></option>
												<?php		
														}
													}
												
												}
												?>
											</optgroup>
											
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="name">Conversation-Name :</label>
									<input type="text" required name="conversation" class="form-control" placeholder="Conversation-Name">
							        </div>
								<div class="form-group">
									<label for="name">Message : </label>
									<textarea id="sendMessage" name="message" required class="form-control" placeholder="Type Your Message Here" rows="3"></textarea>
								</div>
								<button type="submit" id="sendMessage" class="btn btn-primary">Send Message</button>
							</form>
							
						</div>
				
					</div>
					<!-- // Tab content END -->
							
				</div>
			</div>
	<!-- // Widget END -->	
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-switch/assets/lib/js/bootstrap-switch.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-switch/assets/custom/js/bootstrap-switch.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/uniform/assets/lib/js/jquery.uniform.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/uniform/assets/custom/js/uniform.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/modals/assets/js/bootbox.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/modals/assets/js/modals.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/notifications/gritter/assets/lib/js/jquery.gritter.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/notifications/gritter/assets/custom/js/gritter.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/wysihtml5-0.3.0_rc2.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/lib/js/bootstrap-wysihtml5-0.0.2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/editors/wysihtml5/assets/custom/wysihtml5.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/wizards/assets/lib/jquery.bootstrap.wizard.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/wizards/assets/custom/js/form-wizards.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/jasny-fileupload/assets/js/bootstrap-fileupload.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/button-states/button-loading/assets/js/button-loading.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/select2/assets/lib/js/select2.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/select2/assets/custom/js/select2.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/inputmask/assets/lib/jquery.inputmask.bundle.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/inputmask/assets/custom/inputmask.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/lib/js/bootstrap-timepicker.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-timepicker/assets/custom/js/bootstrap-timepicker.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/colorpicker-farbtastic/assets/js/farbtastic.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/colorpicker-farbtastic/assets/js/colorpicker-farbtastic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
