<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!--><html><!-- <![endif]-->
<head>
<title>FLAT PLUS Template (v1.2.3)</title>	
<!-- Meta -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="google-translate-customization" content="29622b545bc381a4-788df79e2215d174-ge4b34f610a340488-9"></meta>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />	
<!-- 
**********************************************************
In development, use the LESS files and the less.js compiler
instead of the minified CSS loaded by default.
**********************************************************
<link rel="stylesheet/less" href="/css/assets/less/admin/module.admin.page.index.less" />
-->
	
<!--[if lt IE 9]><link rel="stylesheet" href="<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/components/library/bootstrap/css/bootstrap.min.css'); ?>" /><![endif]-->
<?php echo $this->placeholder('staticStylesheet'); ?>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/components/library/bootstrap/css/bootstrap.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.index.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/style.css'); ?>
<?= $this->headLink(); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/jquery/jquery.min.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/jquery/jquery-migrate.min.js?v=v1.2.3'); ?>

<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/modernizr/modernizr.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/plugins/less-js/less.min.js?v=v1.2.3'); ?>

<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/modules/admin/charts/flot/assets/lib/excanvas.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/plugins/browser/ie/ie.prototype.polyfill.js?v=v1.2.3'); ?>

<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'); ?>
<?php $this->headScript()->appendFile($this->baseUrl().'/css/assets/components/plugins/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js?v=v1.2.3'); ?>
<?= $this->headScript(); ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<style>
	.goog-te-banner-frame.skiptranslate {display: none !important;}
	.goog-tooltip{display: none !important;}
	body { top: 0px !important; }	   
</style>
</head>
<body class="">
<div class="navbar navbar-fixed-top navbar-primary main" role="navigation">
    <?php  //echo "<pre>"; echo print_r($this->data);die;
	
	$db=Zend_Registry::get("db");
	// get default session namespace
        $sess = new Zend_Session_Namespace('Default');
	$select = $db->select();
	// SELECT conv_id, by_from, COUNT(*) FROM messages GROUP BY conv_id
	$select->from(array('u' => 'user'), array('email', 'first_name', 'last_name'))
	       ->joinInner(array('m' => 'messages'), 'm.by_from = u.id  AND m.sent_to='.$sess->user.' AND m.status= 0 group by conv_id', array('by_from', 'message', 'date', 'status', 'conv_id', 'COUNT(*) as count' ));
	$unseenMessages = $db->fetchAll($select);
	$ids = array();
	if(isset($unseenMessages)){
	    foreach($unseenMessages as $key=> $data) {
	       $ids[] = $data->by_from;
	    }
	}
	if($ids) {
	    $id = implode(",", $ids );
	    //fetch Media WHERE id in (3,4)
	    $result = $db->fetchAll("SELECT * FROM media where section='user-avatar' and owner in ($id)", array(), 2);
	    $adminData =  array('messages'=> $unseenMessages, 'media'=> $result);
	}else {
	    $adminData = array();
	}
	/* fetch all media */
	$media = $db->fetchAll("SELECT * FROM media", array(), 2);
    ?> 
   
    <div class="navbar-header pull-left">
        <div class="navbar-brand">
            <div class="pull-left">
                <a href="" class="toggle-button toggle-sidebar btn-navbar"><i class="fa fa-bars"></i></a>
            </div>
            <a href="<?php echo $this->baseUrl(); ?>/admin" class="appbrand innerL">Super-Admin</a>
     <!--       <div class="colors pull-right hidden-xs">
                
                <li class="active"><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=style-default" style="background-color: #cb4040"><span class="hide">style-default</span></a></li>
                <li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=brown" style="background-color: #ba5d32"><span class="hide">brown</span></a></li>
                <li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=purple-gray" style="background-color: #86618f"><span class="hide">purple-gray</span></a></li>
                
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" class="dropdown-toggle">
                        <span class="color inverse"></span>
                        <span class="color danger"></span>
                        <span class="color success"></span>
                        <span class="color info"></span>
                    </a>
                    <ul class="dropdown-menu pull-right">
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=purple-wine"><span class="color" style="background-color: #b94b6f"></span> purple-wine</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=blue-gray"><span class="color" style="background-color: #496cad"></span> blue-gray</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=green-army"><span class="color" style="background-color: #6f8745"></span> green-army</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=black-and-white"><span class="color" style="background-color: #575757"></span> black-and-white</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=alizarin-crimson"><span class="color" style="background-color: #d15050"></span> alizarin-crimson</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=amazon"><span class="color" style="background-color: #488075"></span> amazon</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=amber"><span class="color" style="background-color: #a8a858"></span> amber</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=android-green"><span class="color" style="background-color: #90bd59"></span> android-green</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=antique-brass"><span class="color" style="background-color: #CD9575"></span> antique-brass</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=antique-bronze"><span class="color" style="background-color: #6e6e3c"></span> antique-bronze</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=artichoke"><span class="color" style="background-color: #8F9779"></span> artichoke</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=atomic-tangerine"><span class="color" style="background-color: #cc865e"></span> atomic-tangerine</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bazaar"><span class="color" style="background-color: #98777B"></span> bazaar</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bistre-brown"><span class="color" style="background-color: #a38229"></span> bistre-brown</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bittersweet"><span class="color" style="background-color: #d6725e"></span> bittersweet</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=blueberry"><span class="color" style="background-color: #4e72c2"></span> blueberry</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=bud-green"><span class="color" style="background-color: #6fa362"></span> bud-green</a></li>
			<li><a href="?module=admin&page=index&url_rewrite=&build=&v=v1.2.3&skin=burnt-sienna"><span class="color" style="background-color: #db897d"></span> burnt-sienna</a></li>
                    </ul>
                </li>
            </div>-->
        </div>
    </div>
  
    <ul class="nav navbar-nav navbar-left">
       <!-- <li class=" hidden-xs">
            <form class="navbar-form navbar-left " role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Type in here..."/>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-inverse"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </li>-->
        <li class="dropdown">
            <a href="" class="dropdown-toggle user" data-toggle="dropdown">
		<?php if( $media ) {; ?>
			    <?php foreach( $media as $data => $values ) {
				if( $values['section']=='user-avatar' && $values['owner']==$sess->user ) {					    
				    ?>
					<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $sess->user; ?>/user-avatar_<?php echo $sess->user; ?>_0_35x35<?php echo $values['type']; ?>" alt="" class="img-circle"/><span class="hidden-xs hidden-sm"> &nbsp; Adrian Demian </span> <span class="caret"></span>
				    <?php }					
			    } ?>					    
		<?php } ?>
	    </a>
            <ul class="dropdown-menu list pull-right ">
                <li><a href="<?php echo PUBLIC_URI; ?>/admin/index/avp" class="adminViewProfile">Your Profile <i class="fa fa-user pull-right"></i></a></li>
                <li><a href="<?php echo PUBLIC_URI; ?>/admin/index/aep" class="adminEditProfile">Edit Account <i class="fa fa-pencil pull-right"></i></a></li>
                <li><a href="<?php echo PUBLIC_URI; ?>/admin/index/as" class="adminSupport">Get Help <i class="fa fa-question-circle pull-right"></i></a></li>
                <li><a href="<?php echo PUBLIC_URI; ?>/admin/logout">Log out <i class="fa fa-sign-out pull-right"></i></a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">
	<!-- Google translator -->
		    
		<li style='margin-top: 10px;'><div id="google_translate_element"></div></li><script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
		}
		</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<!-- eng translator -->
        <li class="dropdown notification">
            <a href="#" class="dropdown-toggle menu-icon" data-toggle="dropdown"><i class="fa fa-fw fa-envelope-o"></i><span class="badge badge-primary"><?php if(isset($adminData['messages'])){$Msgcount = count($adminData['messages']); if($Msgcount > 0) { echo $Msgcount; } } ?></span></a>
            <ul class="dropdown-menu inbox">
                <li class="headline">Inbox</li>
                <li><input type="text" class="form-control border-none" placeholder="Search Email..." /></li>
                <?php if(isset($adminData['messages'])) {
		   
		    foreach($adminData['messages'] as $key=> $message){
			if(empty($message->first_name)){
			    $user = $message->email;
			}else {
			    $user = $message->first_name.' '.$message->last_name;; 
			}
			
			if($adminData['media']){
			
			    foreach($adminData['media'] as $ke => $sec) {
				if($message->by_from == $sec['owner']){
				    $src = PUBLIC_URI.'/media/'.$sec['owner'].'/'.$sec['section'].'_'.$sec['owner'].'_0_35x35'.$sec['type'];
				    if (@getimagesize($src)) {
					$image = $src;
				    }else {
					$image = '';
				    }

				}

				}	
			?>
				    <li>
					<div class="media">
					    <a class="pull-left" href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>"><img src="<?php echo $image; ?>" alt="No image" class="img-circle media-object"></a>
					    <div class="media-body">
						<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>" class="strong text-primary"> <i class="fa fa-circle"></i> <?php echo $user; ?> </a> <span>(<?php echo $message->count; ?>)</span><span class="pull-right time-email"><?php echo $time = date("Y-m-d h:i:s A",strtotime($message->date));?></span>
						<div class="clearfix"></div>
						<?php echo $message->message; ?>
					    </div>
					</div>    
				    </li>
		    <?php
			} else { ?>
			    <li>
				<div class="media">
				    <a class="pull-left" href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>"><img src="<?php echo PUBLIC_URI ;?>/images/msg-pro.jpg" alt="No image" class="img-circle media-object"></a>
				    <div class="media-body">
					<a href="<?php echo $this->baseUrl(); ?>/admin/messages/view/id/<?php echo $message->conv_id;?>/to/<?php echo $message->by_from;?>" class="strong text-primary"> <i class="fa fa-circle"></i> <?php echo $user; ?> </a> <span>(<?php echo $message->count; ?>)</span><span class="pull-right time-email"><?php echo $time = date("Y-m-d h:i:s A",strtotime($message->date));?></span>
					<div class="clearfix"></div>
					<?php echo $message->message; ?>
				    </div>
				</div>    
			    </li>    
		    <?php     
			}
		
		    }
		
		}else { ?>
		    
		    <li>
			<div class="media">
			    <div class="media-body">
				<div class="clearfix"></div>
				Nothing here
			    </div>
			</div>    
		    </li>
		    
		    
		<?php 
		}
		?>
            </ul>
        </li>
      
        <li><a href="<?php echo $this->baseUrl(); ?>/admin/logout" class="menu-icon"><i class="fa fa-sign-out"></i></a></li>
    </ul>
</div>

<div id="menu" class="hidden-print hidden-xs">
	<div class="sidebar sidebar-inverse">
		<div class="user-profile media innerAll">
			<a href="" class="pull-left">
			    <?php if( $media ) {; ?>
			    <?php foreach( $media as $data => $values ) {
				if( $values['section']=='user-avatar' && $values['owner']==$sess->user ) {					    
				    ?>
					<img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $sess->user; ?>/user-avatar_<?php echo $sess->user; ?>_0_51x51<?php echo $values['type']; ?>" alt="" class="img-circle"><span class="badge badge-primary"><?php if(isset($adminData['messages'])){ $Msgcount = count($adminData['messages']); if($Msgcount > 0) { echo $Msgcount; } } ?></span></a>
				    <?php }					
			    } ?>					    
			    <?php } ?>
			<div class="media-body">
				<a href="" class="strong">Adrian Demian</a>
				<p class="text-success"><i class="fa fa-fw fa-circle"></i> Online</p>
			</div>
			<ul>
				<li class="active"><a href=""><i class="fa fa-fw fa-user"></i></a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/messages"><i class="fa fa-fw fa-envelope"></i></a></li>
				<!--<li><a href=""><i class="fa fa-fw fa-lock"></i></a></li>-->
			</ul>
		</div>
		<div class="sidebarMenuWrapper">
			<ul class="list-unstyled">
				<li class="active"><a href="<?php echo $this->baseUrl(); ?>/admin"><i class=" icon-projector-screen-line"></i><span>Dashboard</span></a></li>
			<!--	<li class="hasSubmenu">
					<a href="#" data-target="#menu-style" data-toggle="collapse"><i class="icon-compose"></i><span>Menu &amp; Navbar</span></a>
					<ul class="collapse" id="menu-style">
						<li><a href="index.html?lang=en&amp;sidebar_style=inverse"><span class="pull-right badge badge-primary"><i class="fa fa-check"></i></span>Sidebar Menu Dark</a></li>
						<li><a href="index.html?lang=en&amp;sidebar_style=default">Sidebar Menu Light</a></li>
						<li><a href="index.html?lang=en&amp;top_style=inverse">Top Menu Dark</a></li>
						<li><a href="index.html?lang=en&amp;top_style=default">Top Menu Light</a></li>
						<li><a href="index.html?lang=en&amp;top_style=primary"><span class="pull-right badge badge-primary"><i class="fa fa-check"></i></span>Top Menu Primary</a></li>
					</ul>
				</li>-->
				
				<li class="hasSubmenu">
				    <a href="javascript:void(0);" data-target="#forms-menu" data-toggle="collapse"><i class="icon-compose"></i><span>Message Box</span></a>
				    <ul class="collapse" id="forms-menu">
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/messages">Inbox</a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/messages/sent">Sent</a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/messages/trash">Trash</a></li>
				    </ul>
				</li>
				<li class="hasSubmenu">
				    <a href="javascript:void(0);" data-target="#forms-menu2" data-toggle="collapse"><i class="icon-compose"></i><span>Manage Site Preferences</span></a>
				    <ul class="collapse" id="forms-menu2">  
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/prefrences">Manage Site Information & logo</a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/gallery"> Manage Site & Vendor Images</a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/advertisements">Manage Advertisements</a></li>
				    </ul>
				</li>
				<li class="hasSubmenu">
				    <a href="javascript:void(0);" data-target="#forms-menu3" data-toggle="collapse"><i class="icon-group"></i><span>Manage Users / Vendors</span></a>
				    <ul class="collapse" id="forms-menu3">  
					   <li><a href="<?php echo $this->baseUrl(); ?>/admin/buddy"><span>Manage Users account</span></a></li>
					    <li><a href="<?php echo $this->baseUrl(); ?>/admin/vendor"><span>Manage vendors account</span></a></li>
					   <li><a href="<?php echo $this->baseUrl(); ?>/admin/categories"><span>Manage Vendor Categories</span></a></li>
					  
				    </ul>
				</li>
				
				
				<!--<li><a href="<?php// echo $this->baseUrl(); ?>/admin/pages"><i class="icon-note-pad"></i><span>Pages</span></a></li>-->
				<li class="hasSubmenu">
				    <a href="javascript:void(0);" data-target="#forms-menu4" data-toggle="collapse"><i class="  icon-dollar"></i><span>Manage Payments</span></a>
				    <ul class="collapse" id="forms-menu4">  
					   <li><a href="<?php echo $this->baseUrl(); ?>/admin/booking"><span>Manage Event Booking & invoices</span></a></li>
					   <li><a href="<?php echo $this->baseUrl(); ?>/admin/package"><span>Manage Vendor Account Packages</span></a></li>
					  
				    </ul>
				</li>				
			        <li><a href="<?php echo $this->baseUrl(); ?>/admin/ideas"><i class="icon-time-clock"></i><span>Add Venue Ideas</span></a></li>
				
				<!--<li><a href="<?php //echo $this->baseUrl(); ?>/admin/gallery"><i class=" icon-flip-camera-fill"></i><span>Pages/Gallery</span></a></li>-->
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/orders"><i class="  icon-dollar"></i><span>Orders</span></a></li>
				

				<!--<li><a href="<?php //echo $this->baseUrl(); ?>/admin/prefrences"><i class="  icon-dollar"></i><span>Preferences</span></a></li>-->
			</ul>
		</div>
	</div>
</div>
<div id="content">
	<!-- dynamic blocks starts-->
	<?php echo $this->placeholder('content') ?>
        <!-- footer section starts -->
	<!-- Global -->
</div>
<div class="clearfix"></div>
<!-- // Sidebar menu & content wrapper END -->
	<!--	<div id="footer" class="hidden-print">-->
			
			<!--  Copyright Line -->
			<!--<div class="copy">&copy; 2012 - 2014 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/?ref=mosaicpro" target="_blank">Purchase FLAT PLUS on ThemeForest</a> - Current version: v1.2.3 / <a target="_blank" href="http://demo.mosaicpro.biz/flatplus/CHANGELOG.txt">changelog</a></div>
		
	
		</div>-->
		<!-- // Footer END -->
		
</div>
<!-- // Main Container Fluid END -->	
	

<script>
	var basePath = '',
		commonPath = '/css/assets/',
		rootPath = '/css',
		DEV = false,
		componentsPath = '/css/assets/components/';
	
	var primaryColor = '#cb4040',
		dangerColor = '#b55151',
		infoColor = '#466baf',
		successColor = '#8baf46',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	
	var themerPrimaryColor = primaryColor;
</script>	
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/library/bootstrap/js/bootstrap.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/nicescroll/jquery.nicescroll.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/breakpoints/breakpoints.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/animations.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/flot/assets/lib/jquery.flot.resize.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/flot/assets/lib/plugins/jquery.flot.tooltip.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/flot/assets/custom/js/flotcharts.common.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/flot/assets/custom/js/flotchart-simple.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/flot/assets/custom/js/flotchart-simple-bars.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/widgets/widget-chat/assets/js/widget-chat.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/slimscroll/jquery.slimscroll.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/lib/js/bootstrap-datepicker.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-datepicker/assets/custom/js/bootstrap-datepicker.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/easy-pie/assets/lib/js/jquery.easy-pie-chart.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/charts/easy-pie/assets/custom/easy-pie.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/widgets/widget-scrollable/assets/js/widget-scrollable.init.js?v=v1.2.3"></script>
<?php echo $this->placeholder('staticJavascript'); ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/plugins/holder/holder.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/sidebar.main.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/sidebar.collapse.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/helpers/themer/assets/plugins/cookie/jquery.cookie.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/core.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/jquery.Jcrop.min.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/script.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/core/js/general.js"></script>
</body>
</html>
