    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/jquery-1.8.3.min.js';?>" type="text/javascript"></script>

<div class="md-lgin">
    <div class="panel panel-default">
  <div class="panel-body">
  <div class="panel panel-success" id="preview"></div>
 
   <h4>User Login</h4>

  <form method="post" action="<?php echo $this->baseUrl(); ?>/users/index/signin/format/html" class="form bv-form" role="form" novalidate="novalidate">

      <div class="form-group has-feedback has-error">
        <!--<label for="exampleInputEmail1">Email address</label>-->
        <input class="form-control" placeholder="Enter your email !" name="email" id="email" data-bv-field="email"><i style="" class="form-control-feedback glyphicon glyphicon-remove" data-bv-icon-for="email"></i>
      <small style="" data-bv-validator="notEmpty" data-bv-validator-for="email" class="help-block">The email address is required and can't be empty</small><small style="display: none;" data-bv-validator="emailAddress" data-bv-validator-for="email" class="help-block">The input is not a valid email address</small></div>

      <div class="form-group has-feedback">
         <!-- <label for="exampleInputPassword1">Password</label>-->
          <input type="password" class="form-control" placeholder="Enter your password" name="password" id="password" data-bv-field="password"><i style="display: none;" class="form-control-feedback" data-bv-icon-for="password"></i>
      <small style="display: none;" data-bv-validator="notEmpty" data-bv-validator-for="password" class="help-block">The password is required and can't be empty</small></div>

      <div>
          <label>
              <input type="checkbox"> Remember Me
          </label>
      </div>

      <button class="btn btn-default" id="login" type="submit" disabled="disabled">Submit</button>

  <input type="hidden" value=""></form>

  <div>
  <div> <a href="http://mastersoftwaretechnologies.com/za/public/users/index/password-activation"> Forget Password  </a> <div>


</div>

</div>
</div>
</div></div>
</div>

<style>
.md-lgin
{
	max-width:640px;
	margin:0px auto;
	width:100%;
}

.md-lgin .panel
{
    margin-bottom: 5px;
}
.md-lgin .form-group
{
    margin-bottom: 8px;
}
.md-lgin h4
{
	font-size:14px;
	margin:0px;
	margin-bottom:2px;
	color:#333333;
	font-weight:normal;
	
}
.md-lgin label
{
	color: #646464;
	font-weight:normal;
	font-size:14px;
	margin-bottom:0px;
}
.md-lgin .panel-default
{
    border:none;
}
.md-lgin form 
{
	margin-bottom:0px;
}
.md-lgin a
{
	color: #646464;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;;
}
.md-lgin a:hover
{
	text-decoration:none;
	color:#ee2d24;
}
.md-lgin button
{
	color: #333333;
	-moz-user-select: none;
    border-radius: 4px;
	-webkit-border-radius: 4px;
	-ms-border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
	cursor:pointer;
    background-repeat: repeat-x;
    text-shadow: 0 1px 0 #ffffff;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}
	
.md-lgin .has-error .form-control:focus {
	border: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
	-ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.md-lgin input[type="text"]:focus, .md-lgin input[type="search"]:focus, .md-lgin input[type="email"]:focus, input[type="password"]:focus {
    border-color: #000000;
    color: #000000;
}

</style>
    <script src="<?php echo $this->baseUrl().'/js/jquery.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/portfolio.js'; ?>" type="text/javascript"></script>
    
