
<!-- application/layouts/scripts/layout.phtml -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="google-translate-customization" content="29622b545bc381a4-788df79e2215d174-ge4b34f610a340488-9"></meta>
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/css/bootstrapvalidator.min.css "/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/royal-slider.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/style.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jsDatePick_ltr.min.css" />
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/bootstrap-timepicker.css"/>
   <link rel="stylesheet" type="text/css" media="all" href="<?php echo $this->baseUrl(); ?>/css/jquery_ui_datepicker.css" />


    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/ipad-landscape.css" media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/ipad-portrait.css" media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/small-tabs.css" media="only screen and (max-width:600px)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/iphone-landscape.css" media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/iphone-portrait.css" media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/index.css" media="all">
    <link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery.colorwheel.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="<?php echo $this->baseUrl(); ?>/css/settings.css" media="screen" />
  
    <script src="<?php echo $this->baseUrl().'/js/jquery-1.7.2.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/bootstrap.min.js'; ?>" type="text/javascript"></script>
       <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
     <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/core.js';?>" type="text/javascript"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/jquery.themepunch.plugins.min.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.themepunch.revolution.min.js';?>" type="text/javascript"></script> 
    <script src="<?php echo $this->baseUrl().'/js/royal-slider.js'; ?>" type="text/javascript"></script>
    

    <script src="<?php echo $this->baseUrl().'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script> 

    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/lib/angular.min.js';?>"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/lib/checklist-model.js';?>"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/lib/elif.js';?>"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/controllers/index/indexApp.js'; ?>"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js" type="text/javascript"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-animate.js"></script>

    <script src="<?php echo $this->baseUrl().'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
    <script type="text/javascript" src="<?php echo $this->baseUrl().'/js/angular/controllers/index/searchCtrl.js'; ?>"></script>
	<?php echo $this->placeholder('userstaticfiles') ?>
    <script src="<?php echo $this->baseUrl().'/js/jquery.autocomplete.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jsDatePick.jquery.full.1.3.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/general.js'; ?>"type="text/javascript"></script>
	<script>
	$(document).ready(function() {
	$("#banner_slider").css('visibility', 'visible');
	$(".menu_item").mouseenter(function(){
	$(this).children(".options_list").slideDown();
	});
	$(".menu_item").mouseleave(function(){
	$(this).children(".options_list").slideUp();
	});
	$(".menu-toggle").click(function(){
	$(".root ul").toggle();
	$(".root ul ul").toggle();	
	});
	$(".root ul ul .parent").click(function(){
	$(this).children("ul").toggle();
		});
	
	
	});
	</script>
	<style>
	    .goog-te-banner-frame.skiptranslate {display: none !important;}
	    .goog-tooltip{display: none !important;}
	    body { top: 0px !important; }
	    .ng-enter {
            -webkit-transition: .5s;
            transition: .5s;
            opacity: 0;
        }

        .ng-enter-active {
            opacity: 1;
        }

        .ng-leave {
            -webkit-transition: .5s;
            transition: .5s;
        }

        .ng-leave-active {
            opacity: 0;
        }
	</style>
</head>
<?php 
$db=Zend_Registry::get("db");
    $category=$db->fetchAll('select * from vendor_category'); 
	require './Facebook/facebook.php';	

	$facebook = new Facebook(array(
		//'appId'  => '1428793450717975',
		'appId'  => '724095021045417',
		//'secret' => 'ee676537ca66d9c9411a1c065fb2606e'
		'secret' => '473b0ef025c38b1240b71240add3c148'

	));	
	$fblogin = $facebook->getLoginUrl();

    //Login with Google
	require_once'./Google/src/Google_Client.php';
	require_once'./Google/src/contrib/Google_Oauth2Service.php';

	$google_client_id 	= '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc.apps.googleusercontent.com';
	$google_client_secret 	= 'fKOhtlmXcxZcrz8KgpUhcFTC';
	$google_redirect_url 	= PUBLIC_URI.'/users/index/google-login';
	$google_developer_key 	= '157008869080-h83c0eaecmp5sgmcjuieh5f9jalqhgfc@developer.gserviceaccount.com';

	$gClient = new Google_Client();
	$gClient->setClientId($google_client_id);
	$gClient->setClientSecret($google_client_secret);
	$gClient->setRedirectUri($google_redirect_url);
	$gClient->setDeveloperKey($google_developer_key);

	$google_oauthV2 = new Google_Oauth2Service($gClient);
	$authUrl = $gClient->createAuthUrl();
	$db=Zend_Registry::get("db"); $pages = $db->fetchAll("select * from wp_posts where post_status=? and post_type=?", array('publish','page'), 2); //echo "<pre>"; print_r($pages);die;
	$bottomlinks = $db->fetchAll('SELECT * FROM wp_posts WHERE post_type= ? order by menu_order asc', array('bottomfooter'),2);
	$contact_info = $db->fetchAll('SELECT * FROM wp_posts WHERE post_status= ? and post_type= ?', array('publish' , 'contact'), 2);

	$UserSession = new Zend_Session_Namespace('UserSession');
	$VendorSession = new Zend_Session_Namespace('VendorSession');
	$events = $db->fetchAll("select * from bookings where user_id=?", array($UserSession->userId), 2);


?>

<body class="events-page" data-page="events" ng-app="indexApp">
    	
    <div id="create_account" style="max-width:40%;min-width:40%;"></div>
	    <!--<div class="tp-bannertimer"></div>-->
	    <div class="mode_header">
		<div class="mode_header_content">
		    <div class="container_24">
			<div class="grid_24 clearfix omega alpha" id="header">             

			    <div class="grid_8 alpha" id="header_left">
				    <ul id="header_links" class="list-inline">
					<li id="header_link_sitemap"><a href="<?php echo $this->baseUrl(); ?>/" title="sitemap">Home</a></li> 
					<li class="first"><a href="http://blog.15plug.com/" title="blog">Blog</a></li>
					<?php if( $pages ) {; foreach( $pages as $page => $values ){
					if($values['ID'] == 50){
					    ?>
					    <li class="first"><a href="http://blog.15plug.com/?page_id=50" title="home"><?php echo $values['post_title']; ?></a></li>
					    <?php
						continue;
					}					
					?>  
					    <li class="first"><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/<?php echo $values['post_type'] ;?>/id/<?php echo $values['ID']; ?>" title="home"><?php echo $values['post_title']; ?></a></li>
					<?php } } ?>			
					<li id="header_link_sitemap"><a href="<?php echo $this->baseUrl(); ?>/users/job" title="sitemap">Jobs</a></li>
					<!-- service drop down start -->
					<li class="dropdown ">
					    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vendor <b class="caret"></b></a>			    
					    <ul class="dropdown-menu drp_mnu">
			<?php $showcount=0; foreach($category as $catlist){
						    if($showcount=='12'){
							echo "<li class='divider'></li>"; ?>
							<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/all">See all categories >></a></li>;
						<?php	break;					
						    }else{?>
							<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/<?php echo $catlist->id;?>"><?php echo $catlist->category_name;?></a></li>	
						<?php    }
					     $showcount++;   }	?>			    			    
					    </ul>
					</li>
					<!-- service drop down start -->					
					
				    </ul>
				    <div class="free_shipping">Plan your wedding event with us</div>             
			    </div>           
			  
			    <div class="grid_8" id="header_content">
				    <a href="<?php echo $this->baseUrl(); ?>"><img class="logo" src="<?php echo $this->baseUrl(); ?>/media/325/site-logo_325_0_600x150<?php echo $this->data['sitelogo'][0]['type']; ?>" alt="" /></a>               
				    <ul class="list-inline">
					<?php if(!$events[0]['id']){ ?>
					<li><a href="<?php echo $this->baseUrl(); ?>/users/index/user-step" title="sitemap">Plan Your XV</a></li>
					<?php } ?>
					<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/page/id/136" title="sitemap">How It works</a></li>
					<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/page/id/138" title="sitemap">Exclusive Offers</a></li>
					<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/articles" title="sitemap">Don't Forget</a></li>
				    </ul>              
			    </div>		
			    <div class="grid_8 omega" id="header_right">
				<div id="header_user">                   
					    <?php
							$UserSession = new Zend_Session_Namespace('UserSession');
							$VendorSession = new Zend_Session_Namespace('VendorSession');
							if(!empty($UserSession->userId)){
								$UserSession = new Zend_Session_Namespace('UserSession');
							}elseif(!empty($VendorSession->userId)){
								$UserSession = new Zend_Session_Namespace('VendorSession');
							}  
							if(isset($UserSession->userId) && isset($UserSession->userStatus)){               
							?> 
							    <ul id="header_nav" class="list-inline">
								    <?php
									if( isset($UserSession->userRole) ) {
									    if( $UserSession->userRole==0 || $UserSession->userRole==10 ) {
										?>
										    <!-- service drop down start -->
											<li class="dropdown ">
											    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<b class="caret"></b></a>			    
											    <ul class="dropdown-menu">
												<?php if(!$events[0]['id']){ ?>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/index/user-step">Plan My XV</a></li>			    
												<?php } ?>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard">Dashboard</a></li>			    			    
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/settings">Settings</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/events">Events</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/venderlist">My Vendors</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mailbox">Check Mails</a></li>
												<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/guestlist" title="sitemap">Guest List</a></li>
											    </ul>
											</li>
										    <!-- service drop down start -->
										    
										    
										<?php
									    } else if($UserSession->userRole==2) {
										?>
										    <li><a href="<?php echo $this->baseUrl(); ?>/vendor/dashboard/index">My Account</a></li>
										    <!-- service drop down start -->
											<li class="dropdown" >
											    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Vendor <b class="caret"></b></a>			    
											    <ul class="dropdown-menu drp_mnu">
			<?php $showcount=0; foreach($category as $catlist){
						    if($showcount=='12'){
							echo "<li class='divider'></li>";
							echo '<li><a>See all categories >></a></li>';
							break;					
						    }else{
							echo "<li><a href='#'> $catlist->category_name</a></li>";				    
						    }
					     $showcount++;   }	?>			    			    
					    </ul>
											</li>
										    <!-- service drop down start -->
										<?php
									    }
									}
								    ?>
							      <li><?php echo "[ ".$UserSession->userEmail." ]"; ?></li>
							      <li><a href="<?php echo $this->baseUrl(); ?>/users/index/logout?role=<?php echo $UserSession->userRole; ?>" id="logout">Logout</a></li>
							    </ul>
							<?php
							
							}else{                    
							?>
							    <ul id="header_nav">
								
								<li id="your_account"><a href="javascript:void(0);" id = "login">Log in</a></li>
								<li id="your_account"><a href="javascript:void(0);" id = "sign_up">User Sign up</a></li>
								<li id="your_account"><a href="<?php echo $fblogin; ?>" id="fb_login">fb login</a></li>
<li id="your_account"><a href="<?php echo $authUrl; ?>" id = "Google
-login">Google login</a></li>
<li id="your_account"><a href="<?php echo $this->baseUrl(); ?>/users/index/twitter-login" >Twitter login</a></li>
								
										<span style="display: none;" class="ajax_cart_quantity hidden">0</span> 
										<span style="display: none;" class="ajax_cart_product_txt hidden">Product</span> 
										<span style="display: none;" class="ajax_cart_product_txt_s hidden">Products</span> 
										<span style="display: none;" class="ajax_cart_total hidden">$0.00</span> 
										<span class="ajax_cart_no_product">(empty)</span> </a>
								</li>
							    </ul>
						    <?php }  ?>
			    </div>
			<div id="search_block_top">
		<!-- Google translator -->
		<div id="google_translate_element" style="float:left;margin-left:10px;"></div><script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
		}
		
		</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

		<!-- eng translator -->
		</div>
			    <div id="search_block_top">           
			    
				<form action="javascript:void(0);" id="searchbox" method="post">
				    <p> 
					<label for="search_query_top"></label> 
					<input name="controller" value="search" type="hidden"> 
							
					<input name="orderby" value="position" type="hidden"> 
					<input name="orderway" value="desc" type="hidden">
							
					<input autocomplete="off" class="search_query ac_input" id="search_query_top" name="search_query" value="" placeholder="Search" type="text"> 
							
					<input name="submit_search" value="Search" class="button" type="submit">
				    </p>
				</form>
					
			    </div>
		
			    <div class="block exclusive" id="cart_block">
				    <h4 class="title_block"> <a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?controller=order-opc" rel="nofollow" title="View my shopping cart">Cart</a> 
				    <span class="hidden" id="block_cart_expand">&nbsp;</span>
				    <span id="block_cart_collapse">&nbsp;</span></h4>
				    <div class="block_content">	
					    <div class="collapsed" id="cart_block_summary">
						<span class="ajax_cart_quantity" style="display: none;">0</span> 
						<span class="ajax_cart_product_txt_s" style="display: none;">Products</span>
						<span style="display: none;" class="ajax_cart_product_txt">Product</span>
						<span class="ajax_cart_total" style="display: none;">$0.00</span>
						<span style="display: inline-block;" class="ajax_cart_no_product">(empty)</span>
					    </div>
				    
					    <div class="expanded" id="cart_block_list">					    
						    <p id="cart_block_no_products">No products</p>						    
						    <div id="cart-prices">
								<p>	
								    <span class="price ajax_cart_shipping_cost" id="cart_block_shipping_cost">$0.00</span>	
								    <span>Shipping</span></p>	
								<p>	
								    <span class="price ajax_block_cart_total" id="cart_block_total">$0.00</span>	
								    <span>Total</span>
								</p>
						    </div>						    
						    <p id="cart-buttons"> <a class="exclusive_large" href="#" id="button_order_cart" rel="nofollow" title="Checkout">Checkout</a></p>
					    </div>
				    </div>
			    </div>
			</div>
		    </div>
		</div>
	</div>
</div>
<?php
    if( Zend_Controller_Front::getInstance()->getRequest()->getControllerName()=="dashboard" || Zend_Controller_Front::getInstance()->getRequest()->getControllerName()=="conversation" ) {
	$db=Zend_Registry::get("db");
	$UserSession = new Zend_Session_Namespace('UserSession');
	$user = $db->fetchAll("SELECT first_name, last_name , email FROM user where id = ?",array($UserSession->userId),2);
	$messages = $db->fetchAll("select count(*) from messages where sent_to=? and status=0", array($UserSession->userId), 2);
	?>
		<nav class="side-nav col-sm-3">
		    <section class="profile-det">
			<?php if( $this->data['media'] ) {; ?>
			    <?php foreach( $this->data['media'] as $data => $values ) {
				if( $values['section']=='user-avatar' && $values['owner']==$UserSession->userId ) {					    
				    ?>
					<a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mypic"><img src="<?php echo $this->baseUrl(); ?>/media/<?php echo $values['owner']; ?>/<?php echo $values['section']; ?>_<?php echo $values['owner']; ?>_0_51x51<?php echo $values['type']; ?>" alt="" class="profile-pic2" /></a>
				    <?php					    
				}					
			    }?>					    
			<?php } ?>
			<p class="user-name2">Welcome <span><?php if($user[0]['first_name']){ echo $user[0]['first_name'].' '.$user[0]['last_name']; }else{ echo $user[0]['email']; } ?></span></p>
		    </section>
		    
		    <ul class="side-menu">
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard"><i class="fa-dashboard"></i>Dashboard</a></li>
			
			<li><a href="javascript:void(0)"><i class="fa-building-o"></i>Settings</a>
			    <ul class="sub-side-menu">
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/settings">Account Settings</a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/events">Event Settings</a></li>
			    </ul>
			</li>
			<li><a href="javascript:void(0);"><i class="fa-envelope-o"></i>Mail Box <div class="badge"><?php if($messages){ echo $messages[0]['count(*)']; } ?></div></a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mailbox">Inbox</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/conversation/sent">Sent</a></li>
			    </ul>
			</li>
			<li><a href="javascript:void(0)"><i class="fa-list"></i>Contact List</a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/mycontacts">My Contacts</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/venderlist">My vendors</a></li>
			    </ul>
			</li>

			<li><a href="javascript:void(0)"><i class="fa-building-o"></i>Jobs</a>
			    <ul class="sub-side-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/users/job/new">Create New</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/myjobs">My Jobs</a></li>
				<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/contracts">Contracts</a>
				<!-- <a href="<?php echo $this->baseUrl(); ?>/users/dashboard/appliers">Applicants</a> --></li>
			    </ul>
			</li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/budgetplanner"><i class="fa-building-o"></i>Budget Planner<span></span></a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/reviews"><i class="fa-building-o"></i>Feedback Reviews<span></span></a></li>
			<!--<li><a href="<?php // echo $this->baseUrl(); ?>/users/dashboard/events"><i class="fa-building-o"></i>Events<span></span></a></li>-->
			<li><a href="<?php echo $this->baseUrl(); ?>/users/dashboard/guestlist"><i class="fa-building-o"></i>Guest List<span></span></a></li>
			<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/all"><i class="fa-building-o"></i>Vendor Categories<span></span></a></li>
		    </ul>
		</nav>
	<?php
    }
?>
<?php 
echo $this->placeholder('slider');
 ?>
<div class="clear"></div>
<div id="content">                
            <?php echo $this->placeholder('first-tab-area') ?>
            <?php echo $this->placeholder('second-tab-area') ?>              
	    <div class="cs_both_mode">
	    <div class="mode_megamenu">
	    <div class="container_24">
	    <div style="display: none;" id="megamenu-responsive">
	    <ul id="megamenu-responsive-root">
		    <li class="menu-toggle"><p></p>Navigation</li>
		    <li class="root">
			<ul>
			    <li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php">
			    <span>Home</span></a>
			<ul>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=3&amp;controller=category&amp;id_lang=1">
			    <span>Men's</span></a>
			</li>
		    <li class="parent ">
		    <p>+</p><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=4&amp;controller=category&amp;id_lang=1">
		    <span>Women's</span></a>
		    <ul>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=10&amp;controller=category&amp;id_lang=1"><span>Eliquam elementum tellus
			</span></a></li>
			<li class="parent "><p>+</p><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=11&amp;controller=category&amp;id_lang=1">
				<span>Aliquam elementum</span></a>
				<ul>
				    <li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=15&amp;controller=category&amp;id_lang=1"><span> turpis porta at ultricie
				    </span></a></li>
				    <li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=16&amp;controller=category&amp;id_lang=1"><span> Praesent sollicitudin
				    </span></a></li>
				    <li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=17&amp;controller=category&amp;id_lang=1"><span>sem neque vestibu
				    </span></a></li>
				</ul>
			</li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=12&amp;controller=category&amp;id_lang=1"><span>Porta at ultricies diam
			</span></a></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=13&amp;controller=category&amp;id_lang=1"><span>Aliquam nibh ligula
			</span></a></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=14&amp;controller=category&amp;id_lang=1"><span>Nam in magna a lorem
			</span></a></li>
		    </ul></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=5&amp;controller=category&amp;id_lang=1"><span>Dresses
			</span></a></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=6&amp;controller=category&amp;id_lang=1"><span>outerwear
			</span></a></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=7&amp;controller=category&amp;id_lang=1"><span>Shoes
			</span></a></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=8&amp;controller=category&amp;id_lang=1"><span>Jewelry
			</span></a></li>
			<li class=""><a href="http://demo3.eggthemes.com/et_weddingday/style1/index.php?id_category=9&amp;controller=category&amp;id_lang=1"><span>Accessories
			</span></a></li>
		    </ul>
		</li>
	    </ul>
	    </li>
	    </ul>
	    </div>
	    </div>
	    </div>
	    
	    <div class="mode_footer_top">
	    <div class="container_24">
	    <div id="footer_top">
	    
	    <div class="cs_follow_online "><h4>Online WeddingDay for Men and Women</h4>
		<p>Any shopaholic would fall in love with this layout, ET WeddingDays Responsive Prestashop theme. Super neat design, really modern and high fashion skin for the website.
		<br> With variety available colors, probably, your website will be congruent with your store image. 
		<br> Need to change? You want a very own color combination? Pieces of cake, you can change it to any color you wish with color variation function.</p>
		<div class="cs_i_follow">
		    <span class="label">Follow Us:</span>
		    <p><a href="https://www.facebook.com/emthemes" title="facebook"><img src="<?php echo $this->baseUrl();  ?>/images/i_face.png" alt="" height="32" width="32"></a> <a href="https://twitter.com/prestashop" title="twitter"><img src="<?php echo $this->baseUrl();  ?>/images/i_twitter.png" alt="" height="32" width="32"></a> <a href="http://pinterest.com/pinterest" title="print"><img src="<?php echo $this->baseUrl();  ?>/images/i_p.png" alt="" height="32" width="32"></a><a href="http://www.youtube.com/user/username" title="youtube"><img src="<?php echo $this->baseUrl();  ?>/images/i_youtube.png" alt="" height="32" width="32"></a><a href="https://plus.google.com/114285862387604007220/posts" title="google"><img src="<?php echo $this->baseUrl();  ?>/images/i_g.png" alt="" height="32" width="32"></a></p>
		</div>
	    </div>
	    
	    <div class="block_popular_word_search clearfix not-animated" data-animate="fadeInDown" data-delay="200">
	    <div class="block_content">
		<a href="">consectetur</a> 
		<span>.</span><a href="">bibendum</a> 
		<span>.</span><a href="">malesuada</a>
		<span>.</span><a href="">praesent</a>
		<span>.</span><a href="">ornare</a> 
		<span>.</span><a href="">interdum</a>
		<span>.</span><a href="">nulla</a> 
		<span>.</span><a href="">volutpat</a>
		<span>.</span><a href="">urna</a>
		<span>.</span><a href="">amet</a>
		<span>.</span><a href="">lorem</a>
		<span>.</span><a href="">home</a>
		<span>.</span><a href="">adipiscing</a>
		<span>.</span><a href="">elit</a>
		<span>.</span><a href="">suscipit</a> 
		<span>.</span><a href="">tincidunt</a> 
		<span>.</span><a href="">iaculis</a>
		<span>.</span><a href="">nisi</a>
		<span>.</span><a href="">blandit</a>
		<span>.</span><a href="">ipsum</a> 
		<span>.</span><a href="">nunc</a>
		<span>.</span><a href="">sed</a> 
		<span>.</span><a href="">condimentum</a> 
		<span>.</span><a href="">euismod</a> 
		<span>.</span><a href="">porttitor</a> 
		<span>.</span><a href="">sit</a> 
		<span>.</span><a href="">nisl</a> 
		<span>.</span><a href="">fermentum</a> 
		<span>.</span><a href="">enim</a> 
		<span>.</span><a href="">tellus</a>
		<span>.</span>
	    </div>
	    </div>
	    </div>
	    </div>
	    </div>
	    
	    <div class="mode_footer">
	    <div class="mode_footer_main">
	    <div class="container_24">
	    <div id="footer">
	<?php $counterCat = 1 ;$changeCount2 =  0 ;  if( $category ){

	if( count($category) >= 15 ) {
		$less = 3;
	}elseif(count( $category) >= 7 ){
		$less = 2;
	}else {
		$less = 1;	
	}

 for($i = 1; $i<=$less; $i++) { ?>
	  <div class="grid_4 alpha block_various_links not-animated" data-animate="fadeInUp" data-delay="0" id="block_various_links_footer"><h4 class="title_block"><?php if($i== 1) { ?> Categories <?php } ?></h4>
		
		<div class="block_content">
		    <ul>
			<?php 			
				$changeCount = 5 * $i ;

				for($j = $changeCount2; $j <= $changeCount ; $j++) {

				?>
			 		
	<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/<?php echo $category[$j]->id;?>" title="<?php echo  $category[$j]->category_name ;?>"><?php echo  $category[$j]->category_name ;?></a></li>

					
				<?php
					if($changeCount > 14 && $j == 15){ ?>
	<li><a href="<?php echo $this->baseUrl(); ?>/pages/index/vendorcat/cat/all" title="all">
See all categories >></a></li>				
				<?php 		
					}  
				 }
					if($i == 1) {
						$changeCount2 = 6;
 					}
					if($i == 2) {
						$changeCount2 = 11;
					}	
					?>
		    </ul>
		</div>
	    </div> 
		<?php }   } ?>

	    
	    <div id="block_contact_infos" class="grid_4 not-animated" data-animate="fadeInUp" data-delay="600"><h4 class="title_block">Contact us</h4>
		<ul>
		   <?php
			if( $contact_info ){
				echo $contact_info[0]['post_content'];
			}
		 ?>
		</ul>
	    </div>
	    
	  
	    </div>
	    </div>
	    
	    <div class="container_24">
		<div id="footer_bottom">
	
		    <div id="currencies_block_footer">
			
		    </div>
		    <div class="cs_payment">
			<p>We accept the following credit / debit cards:</p>
			<p><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/i_paypal.jpg" alt="" height="21" width="37"></a><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/i_master.jpg" alt="" height="21" width="37"><img src="<?php echo $this->baseUrl();  ?>/images/i_visa.jpg" alt="" height="21" width="37"></a><a href="#"><img src="<?php echo $this->baseUrl();  ?>/images/_american.jpg" alt="" height="21" width="37"></a></p>
		    </div>
		</div>
	    </div>
	    
	    <div class="mode_copyright">
		<div class="container_24">
		    <div id="footer_copyright">
			<ul class="bottom_nav">
			    <li><a href="<?php echo $this->baseUrl(); ?>">Home</a></li>
			<?php if( $bottomlinks ){

				foreach($bottomlinks as $link){
 			?>
				    <li><a href="<?php echo $this->baseUrl(); ?>/pages/index/view/type/<?php echo $link['post_type'] ;?>/id/<?php echo $link['ID']; ?>"> <?php echo $link['post_title']; ?></a></li>
		
			<?php } } ?>
			<li id="your_account"><a href="<?php echo $this->baseUrl(); ?>/vendor/index">Advertise with us</a></li>
			</ul>
			<p class="copy_right">@ 2014 <a href="#">Quinceanra </a>  All rights reserved</p>
		    </div>
		</div>
	    </div>
	    </div>
	    </div>

</div>
	  
     <?php echo $this->placeholder('testjavascripts');  ?>
  <script src="<?php echo $this->baseUrl()?>/js/jquery.maskMoney.js" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
     <script src="<?php echo $this->baseUrl(); ?>/js/jquery.form.js"></script>
    <script src="<?php echo $this->baseUrl().'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>

    <script src="<?php echo $this->baseUrl().'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/common.js'; ?>" type="text/javascript"></script>
    
    	
    
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
   
    <script src="<?php echo $this->baseUrl().'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/vendor_dashboard.js'; ?>"type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.maskedinput.js'; ?>"type="text/javascript"></script>
    <!--script src="<?php //echo $this->baseUrl().'/js/jquery.timepicker.js'; ?>" type="text/javascript"></script-->
    <script src="<?php echo $this->baseUrl().'/js/bootstrap-timepicker.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery-ui-datepicker.js'; ?>"type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/jquery.mockjax.js';?>" type="text/javascript"></script>
  
    <script src="<?php echo $this->baseUrl().'/js/demo.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/countries.js';?>" type="text/javascript"></script>
    <script src="<?php echo $this->baseUrl().'/js/jquery.cookies.js';?>" type="text/javascript"></script>
    
    <script src="<?php echo $this->baseUrl().'/js/classie.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/eventie.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/doc-ready.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/get-style-property.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/EventEmitter.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/get-size.js'; ?>"></script>
    <script src="<?php echo $this->baseUrl().'/js/item.js'; ?>"></script>
<?php if( Zend_Controller_Front::getInstance()->getRequest()->getControllerName()!="dashboard") {; ?>  
<script type="text/javascript">

  	function isMobile() {
  		try{ document.createEvent("TouchEvent"); return true; }
  		catch(e){ return false; }
	}
/* <![CDATA[ */if(!isMobile())
	{jQuery(document).ready(function($){$("#pattern_10w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/10w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_10w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_11w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/11w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_11w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_12w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/12w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_12w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_16w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/16w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_16w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_17w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/17w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_17w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_18").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/18.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_18');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_18w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/18w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_18w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_19w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/19w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_19w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_1w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/1w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_1w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_20").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/20.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_20');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_20w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/20w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_20w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_2w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/2w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_2w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_3w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/3w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_3w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_4w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/4w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_4w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_5w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/5w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_5w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_6w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/6w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_6w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_7").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/7.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_7');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_7w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/7w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_7w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_8").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/8.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_8');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_8w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/8w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_8w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_9").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/9.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_9');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_9w").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/9w.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_9w');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_body-bg-1").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/body-bg-1.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_body-bg-1');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_dot").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/dot.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_dot');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_embossed_paper").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/embossed_paper.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_embossed_paper');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_grid1").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/grid1.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_grid1');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_grid_noise").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/grid_noise.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_grid_noise');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}
	$("#pattern_purty_wood").click(function(){$(".pattern_item").removeClass("active");$(this).addClass("active");var url_pattern="/et_weddingday/style1/modules/csthemeeditor/<?php echo $this->baseUrl();  ?>/images/patterns/purty_wood.png";$.cookie('cookie_bg_pattern',url_pattern);$.cookie('cookie_bg_pattern_class','pattern_purty_wood');$('#page').css('background-image','url("'+$.cookie('cookie_bg_pattern')+'")');});if($.cookie('cookie_bg_pattern_class'))
	{$("#"+$.cookie('cookie_bg_pattern_class')+"").addClass("active");}});}/* ]]> */
</script>

<?php echo $this->placeholder('culprit');  ?>


<?php } ?>

</body>
</html>
