<!-- application/layouts/scripts/layout.phtml -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/style.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/royal-slider.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/tabs.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/jquery.mCustomScrollbar.css" />
    <link rel="stylesheet" type="text/css" media="all" href="<?php echo PUBLIC_URI; ?>/css/jsDatePick_ltr.min.css" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/ipad-landscape.css" media="only screen and (max-width:1024px), (max-device-width:1024px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/ipad-portrait.css" media="only screen and (max-width:768px), (max-device-width:768px) and (orientation:portrait)" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/small-tabs.css" media="only screen and (max-width:600px)" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/iphone-landscape.css" media="only screen and (max-width:480px), (max-device-width:480px) and (orientation:landscape)" />
    <link rel="stylesheet" type="text/css" href="<?php echo PUBLIC_URI; ?>/css/iphone-portrait.css" media="only screen and (max-width:320px), (max-device-width:320px) and (orientation:portrait)" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_URI; ?>/css/bootstrapValidator.css"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="<?php echo PUBLIC_URI; ?>/css/jquery.colorwheel.css" type="text/css"/>
    <!-- Latest compiled and minified JavaScript -->
    

    <!-- the ui jQuery library -->
    
    <!-- HTML5 Support for IE7 - 8 -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

     <?php echo $this->placeholder('headercss')  ?>

</head>

<body>
    <div id="create_account" style="max-width:40%;min-width:40%;"></div>
    <div id="content" style="margin-left:0px !important;">
                <section class="top-bar">
                  <div class="wrapper">
                    <ul class="social">
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/fb.png" alt="Facebook" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/flkr.png" alt="Facebook" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/in.png" alt="Facebook" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/rss.png" alt="Facebook" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/skype.png" alt="Facebook" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/twitter.png" alt="Facebook" /></a></li>
                    </ul>
                    <?php
			    $UserSession = new Zend_Session_Namespace('UserSession');
			    if(isset($UserSession->userId) && isset($UserSession->userStatus)){                     
			    ?> 
			        <ul class="sign">
					<?php
					    if( isset($UserSession->userRole) ) {
						if( $UserSession->userRole==0 || $UserSession->userRole==10 ) {
						    ?>
							<li><a href="<?php echo PUBLIC_URI; ?>/users/index/user-step">My Account</a></li>
						    <?php
						} else if($UserSession->userRole==2) {
						    ?>
							<li><a href="<?php echo PUBLIC_URI; ?>/vendor/dashboard/index">My Account</a></li>
						    <?php
						}
					    }
					?>
			          <li><a href="<?php echo PUBLIC_URI; ?>/users/index/logout" id="logout">Logout</a></li>
			        </ul>
			    <?php
			    
			    }else{                    
			    ?>
                                <ul class="sign">
                                    <li><a href="<?php echo PUBLIC_URI; ?>/vendor/index">Vendor Section</a></li>
                                    <li><a href="javascript:void(0);" id = "login">User log in</a></li>
                                    <li><a href="javascript:void(0);" id = "sign_up">Sign up</a></li>
                                </ul>
		    <?php }  ?>
                    <div class="clear"></div>
                  </div>
                </section>
    
                <!-- header section starts -->
        <header class="header">
          <div class="header-bar mobile-only" style="position:relative;">
                <a href="#" id="show-navobile" class="icon">Menu</a>
          </div>
          <a href="<?php echo PUBLIC_URI; ?>"><img class="logo" src="<?php echo PUBLIC_URI; ?>/images/logo.png" alt="" /></a>
          <div class="menu">
            <div class="search">
                <input type="button" value="Search" />
                <input type="search" placeholder="enter keywords" />
            </div>
            <div class="clear"></div>
              <nav id="navigation">
                <ul class="navigation cf">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a>Planning your XV</a>
                      <ul class="sub_menu">
                        <li><a href="#">Small Link</a></li>
                        <li><a href="#">Long Link</a></li>
                        <li><a href="#">A very long link</a></li>
                      </ul>
                    </li>
                    <li><a href="#">What's hot</a></li>
                    <li><a>Exclusive offers</a>
                      <ul class="sub_menu">
                        <li><a href="#">Small Link</a></li>
                        <li><a href="#">Long Link</a></li>
                        <li><a href="#">A very long link</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Why quince plug ?</a></li>
                    <li class="last"></li>
                </ul>
              </nav>
            </div>
          <div class="clear"></div>
                </header>
                
                <!-- dynamic blocks starts-->

                <article class="themer-bar">
                <div class="wrapper">
                    <div class="themer-btn">
                        <a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/theme-menu.png" alt="" /></a>
                    </div>
                    <div class="themer-btn">
                        <a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/picker.png" alt="" />
                        Themer</a>
                    </div>
                    <div class="themer-btn floatright">
                        <a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/flag.png" alt="" /></a>
                    </div>
                    <div class="themer-btn no-bg">
                        <a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/chat-icon.png" alt="" />
                        Live Chat</a>
                    </div>
                </div>
                </article>

                <div class="wrapper position-relative">
                <div class="nav-bg"></div>
                <nav class="side-nav">
                    <section class="profile-det">
                        <img src="<?php echo PUBLIC_URI; ?>/images/profile-pic.png" alt="" class="profile-pic2" />
                        <p class="user-name2">Welcome <span>Mosaicpro</span></p>
                    </section>
                    <ul class="stars-d">
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/star-d.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/star-d.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/star-d.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/star-d.png" alt="" /></a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/star-d.png" alt="" /></a></li>
                        <li></li>
                    </ul>
                    <ul class="side-menu">
                        <li><a href="<?php echo PUBLIC_URI; ?>/vendor/dashboard/index"><img src="<?php echo PUBLIC_URI; ?>/images/dash.png" alt="" />Dashboard</a></li>
                        
                        <li><a href="<?php echo PUBLIC_URI; ?>/vendor/dashboard/gallery"><img src="<?php echo PUBLIC_URI; ?>/images/web.png" alt="" />Web Page<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">Live View</a></li>
                                <li><a href="#">Edit</a></li>
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </li>

			<li><a href="<?php echo PUBLIC_URI; ?>/vendor/portfolio" target="_blank"><img src="<?php echo PUBLIC_URI; ?>/images/dash.png" alt="" />Porfolio</a></li>

                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/mail.png" alt="" />Mailbox<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">Inbox</a></li>
                                <li><a href="#">Draft</a></li>
                                <li><a href="#">Sent</a></li>
                                <li><a href="#">Spam</a></li>
                                <li><a href="#">Trash</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/calendar.png" alt="" />Calendar<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">All Task</a></li>
                                <li><a href="#">Add reminder</a></li>
                                <li><a href="#">Send Reminder</a></li>
                                <li><a href="#">Set appointment</a></li>
                                <li><a href="#">Create Task</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/contact.png" alt="" />Contact List<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">My Clients</a></li>
                                <li><a href="#">My vendors</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/quotes.png" alt="" />Quotes/Invoices<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">Quotes</a></li>
                                <li><a href="#">Invoices</a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/bid.png" alt="" />Bid Request<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">Postings</a></li>
                                <li><a href="#">Edit Postings</a></li>
                                <li><a href="#">View Postings</a></li>
                                <li><a href="#">Pending Response</a></li>
                                <li><a href="#">Delete Bid</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/track.png" alt="" />Track Work</a></li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/social.png" alt="" />Social Media</a></li>
                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/active.png" alt="" />Active Account<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">Track Account</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><img src="<?php echo PUBLIC_URI; ?>/images/storage.png" alt="" />Storage Folder</a></li>
                        <li><a href="javascript:void(0)"><img src="<?php echo PUBLIC_URI; ?>/images/billing.png" alt="" />Account Billing<span></span></a>
                            <ul class="sub-side-menu">
                                <li><a href="#">Account</a></li>
                                <li><a href="#">Billing</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                
                <?php echo $this->placeholder('rightcontent') ?>
                
          
           <!-- footer section starts -->
                <footer class="footer">
                    <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Planning your quinceanera</a></li>
              <li><a href="#">Quinceanera dresses</a></li>
              <li><a href="#">Shoes for quinceanera</a></li>
              <li><a href="#">Quinceanera traditions</a></li>
              <li><a href="#">Banquet halls and venues</a></li>
              <li><a href="#">Vendors</a></li>
              <li><a href="#">Budgeting for your sweet fifteen</a></li>
              <li><a href="#">Quinceanera make up tips</a></li>
              <li><a href="#">Teen health and wellness</a></li>
              <li><a href="#">Cakes and catering</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Terms of use</a></li>
              <li><a href="#">Disclaimers</a></li>
              <li><a href="#">Policy</a></li>
              <li><a href="#">User Agreement</a></li>
              <li><a href="#">Advertise</a></li>
                    </ul>
                </footer>
  </div>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/library/jquery-ui/js/jquery-ui.min.js?v=v1.2.3'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/royal-slider.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/responsive-tabs.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/bootstrap.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/chosen.jquery.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.mCustomScrollbar.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jsDatePick.jquery.full.1.3.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/common.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/bootstrapValidator.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.lightbox_me.js'; ?>" type="text/javascript"></script>  
    <script src="<?php echo PUBLIC_URI.'/js/jquery.validate.js'; ?>" type="text/javascript"></script>
    <?php echo $this->headScript()->setFile('http://malsup.github.com/jquery.form.js') ?>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.colorwheel.min.js'; ?>" type="text/javascript"></script>
     
     
    <script src="<?php echo PUBLIC_URI.'/js/general.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/vendor_dashboard.js'; ?>" type="text/javascript"></script>

    <script src="<?php echo PUBLIC_URI.'/js/jquery.mockjax.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.autocomplete.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/demo.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/countries.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/js/jquery.cookies.js';?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/core/js/jquery.Jcrop.min.js'; ?>" type="text/javascript"></script>
    <script src="<?php echo PUBLIC_URI.'/css/assets/components/core/js/script.js'; ?>" type="text/javascript" ></script>
    <?php echo $this->placeholder('testjavascripts')  ?>
     
</body>
</html>
