<div style="background-color:#E0F1FF;border: medium groove;padding: 10px;">
<h3 style='text-align:center'>Job Application   <?php echo "#".$this->data['data'][0]['id']; ?></h3> 
<p id="preview" class="bg-warning"></p>
<form class="form-horizontal" role="form" action="" method="POST" >
        <input name="jobId" value="<?php echo $this->data['data'][0]['id']; ?>" type="hidden">
        <input name="applierId" value="<?php echo $this->data['data'][0]['user_id']; ?>" type="hidden">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Title:</label>
            <div class="col-sm-8">
                <?php echo $this->data['data'][0]['title']; ?>
                <!-- <input type="text" name="jobTitle" value="<?php echo $this->data['data'][0]['title']; ?>" class="form-control" id="inputEmail3" readonly placeholder="Please enter job title!!"> -->
            </div>
        </div>
        


        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Start On: </label>
            <div class="col-sm-8">
                <label ><?php 
              $date = DateTime::createFromFormat('m-d-Y', $this->data['data'][0]['start_on']);
              echo $date->format('d F, Y');
                ?></label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">End On: </label>
            <div class="col-sm-8">
                <label ><?php 
                 $date = DateTime::createFromFormat('m-d-Y', $this->data['data'][0]['end_on']);
                 echo $date->format('d F, Y');
             ?></label>
            </div>
        </div>
  
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Locations: </label>
            <div class="col-sm-8">
                <label ><?php 
                echo $this->data['data'][0]['locations']; ?></label>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Address: </label>
            <div class="col-sm-8">
                <label ><?php 
                echo $this->data['data'][0]['address']; ?></label>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Start time: </label>
            <div class="col-sm-8">
                <label ><?php 
                echo $this->data['data'][0]['starttime']; ?></label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">End time: </label>
            <div class="col-sm-8">
                <label ><?php 
                echo $this->data['data'][0]['endtime']; ?></label>
            </div>
        </div>

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Quote Content:</label>
            <div class="col-sm-10">
                <textarea name="quoteContent" rows="5" class="form-control" id="inputEmail3" placeholder="Please enter quote description !!"><?php if(!empty($this->data['quotes'])) { echo $this->data['quotes'][0]['quote_content'];  } ?></textarea>
            </div>
        </div>
  

        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Budget:</label>
            <div class="col-sm-10">
                <input type="text" name="budget" onpaste="return false;" autocomplete="off" class="form-control" id="quote_budget" placeholder="Please enter budget" value="<?php if(!empty($this->data['quotes'])) { echo $this->data['quotes'][0]['quote_budget'];  } ?>" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="sub_job" class="btn btn-default">Submit</button>
            </div>
        </div>
</form>
</div>
<script>
    jQuery(document).ready(function($){
        $('#quote_budget').maskMoney();
    });
</script>
