<?php $this->placeholder('userstaticfiles')->captureStart() ?>

<?php $this->placeholder('userstaticfiles')->captureEnd() ?>

<?php $this->placeholder('slider')->captureStart() ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jquery-ui.css">
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/jeoquery.css" /> 
 
   <style>
   .txt-ar{
    height: 88px !important;
   }
   </style>
   <div class="wrapper newjob">  
    <div>
		<div class="user_create_new_job">
			<div>
                            <div class="jb-mx-wdth">
                                <label class="col-sm-4"></label><h3 class="col-sm-8">Post New Job</h3>
                                <p id="preview" class="bg-warning"></p>
                                <form id="create_job" class="form-horizontal" role="form" action="" method="POST">
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Select Service Category<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                            <select name="serviceCategory" class="form-control" id="inputEmail3" placeholder="select service category">
                                                <?php
                                                
                                                    if( $this->data['data'] ) {
                                                        foreach( $this->data['data'] as $data => $values ) {
                                                            ?>
                                                                <option value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                                            <?php
                                                        }
                                                    }
                                                
                                                ?>
                                            </select>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Job Title<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                          <input type="text" name="jobTitle" class="form-control" id="inputEmail3" placeholder="Please enter job title!!" required = 'true'>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Job Description<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <textarea name="jobDescription" rows="5" class="form-control txt-ar" id="inputEmail3" placeholder="Please enter the job description !!" required = 'true'></textarea>
                                      </div>
                                    </div>

                                     <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Locations<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <input type="text" name="locations" class="input-large city_home form-control" id="inputEmail3" placeholder="City, State, Country" required = 'true'>
                                      </div>
                                    </div>
 
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Address</label>
                                      <div class="col-sm-8">
                                        <textarea name="address" rows="5" class="txt-ar form-control" id="inputEmail3" placeholder="The Exact Address of the place" ></textarea>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Start Date<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-3">
                                        <input type="text" id="startDate" onkeydown="return false;" onpaste="return false;" autocomplete="off" name="startDate" class="form-control" id="inputEmail3" placeholder="MM-DD-YYYY" required = 'true'/>
                                      </div>

                                       <div class="col-sm-5">
                                        <label for="inputEmail3" class="col-sm-4 control-label">End Date<sup class="text-danger">*</sup></label>
                                        <div class="col-sm-8">
                                          <input type="text" id="endDate" onkeydown="return false;" onpaste="return false;" autocomplete="off" name="endDate" class="form-control" id="inputEmail3" placeholder="MM-DD-YYYY" required = 'true'/>
                                        </div>
                                       </div>
                                    </div>
                
        
                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Start Time<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-3">
                                       <div class="bootstrap-timepicker">
                                        <input type="text" onkeydown="return false;" onpaste="return false;" name="starttime" autocomplete="off" class="starttime form-control"  placeholder="Start Time!!" required = 'true'/>
                                       </div> 
                                      </div>

                                      <div class="col-sm-5">
                                        <label for="inputEmail3"  class="col-sm-4 control-label">End Time<sup class="text-danger">*</sup></label>
                                        <div class="col-sm-8">
                                         <div class="bootstrap-timepicker">
                                          <input type="text" onkeydown="return false;" onpaste="return false;"  name="endtime" autocomplete="off" class="endtime form-control"  placeholder="End Time!!" required = 'true'/>
                                         </div>
                                        </div>
                                      </div>
                                    </div>


                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">My Budget[$]<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <input type="text" onpaste="return false;" name="myBudget" autocomplete="off" class="form-control" id="budget" placeholder="Add budget for this service !!!" required = 'true'>
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label for="inputEmail3" class="col-sm-4 control-label">Term and Conditions<sup class="text-danger">*</sup></label>
                                      <div class="col-sm-8">
                                        <textarea name="termAndConditions" rows="5" class="txt-ar form-control" id="inputEmail3" placeholder="Please enter the Term and conditions !!" required = 'true'></textarea>
                                      </div>
                                    </div>
                                    
                                    <div class="form-group">
                                    	 <label class="col-sm-4"></label>
                                      <div class="col-sm-8">
                                        <button type="submit" class="btn btn-primary">Create New Job</button>
                                      </div>
                                    </div>
                                </form>
                            </div>
                        </div>
	       </div>
    </div>
   </div> 

<?php $this->placeholder('slider')->captureEnd() ?>

<!-- clear first tab area -->
<?php $this->placeholder('first-tab-area')->captureStart() ?>
<?php $this->placeholder('first-tab-area')->captureEnd() ?>

<!-- clear second tab area -->
<?php $this->placeholder('second-tab-area')->captureStart() ?>
<?php $this->placeholder('second-tab-area')->captureEnd() ?>

<?php $this->placeholder('testjavascripts')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl().'/js/jeoquery.js';?>"></script> 
<script>
    
    jQuery(document).ready(function($){
        
        function formatAMPM(date) {
          var hours = date.getHours();
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'pm' : 'am';
          hours = hours % 12;
          hours = hours ? hours : 12; 
          minutes = minutes < 10 ? '0'+minutes : minutes;
          var strTime = hours+':'+minutes+''+ ampm;
          return strTime;
        }
    
        $('#budget').maskMoney();
        $("#startDate").datepicker({dateFormat:"mm-dd-yy", minDate: 0
				   , changeMonth: true,
				     changeYear: true});//	YYYY-DD-MM
        $("#endDate").datepicker({dateFormat:"mm-dd-yy", minDate: 0 ,changeMonth: true,
				     changeYear: true});//	YYYY-DD-MM

        $('.starttime').timepicker({
          minuteStep: 1,
          showInputs: false,
          disableFocus: true,
         
        });

        $('.endtime').timepicker({
          minuteStep: 1,
          showInputs: false,
          disableFocus: true,
        });

      // $('.starttime').on('change', function(e) {
      //   start_time_jquery();
      // });
      // $("#startDate").on('change',function(e){
      //   $(".starttime").val("");
      //   start_time_jquery();
      // });
      // $('.starttime').timepicker({
      //       'scrollDefault': 'now',
      //       'step': 01
      //  });
      // function start_time_jquery(){
      //   var a = new Date();
      //   var startdate = $("#startDate").val();
      //   if(startdate=="" || $('#startDate').val() != $.datepicker.formatDate ( 'mm-dd-yy', a ))
      //   {
      //      $('.starttime').timepicker('remove');
      //      $('.starttime').timepicker({
      //       'scrollDefault': 'now',
      //       'step': 01
      //      });
      //   }
      //   else{
      //     $('.starttime').timepicker('remove');
      //     $('.starttime').timepicker({
      //       'scrollDefault': 'now',
      //       'disableTimeRanges': [
      //           ['12am',formatAMPM(a)], 
      //       ],
      //       'step': 01
      //     });
      //   }
      // }
     
      
      // $('.endtime').on('change', function(e) {
      //   end_time_jquery();
      // });
      // $("#endDate").on('change',function(e){
      //   $(".endtime").val("");
      //   end_time_jquery();
      // });
      // $('.endtime').timepicker({
      //       'scrollDefault': 'now',
      //       'step': 01
      //  });
      // function end_time_jquery(){
      //   var a = new Date();
      //   var enddate = $("#endDate").val();
      //   if(enddate=="" || $('#endDate').val() != $.datepicker.formatDate ( 'mm-dd-yy', a ))
      //   {
      //      $('.endtime').timepicker('remove');
      //      $('.endtime').timepicker({
      //       'scrollDefault': 'now',
      //       'step': 01
      //      });
      //   }
      //   else{
      //     $('.endtime').timepicker('remove');
      //     $('.endtime').timepicker({
      //       'scrollDefault': 'now',
      //       'disableTimeRanges': [
      //           ['12am',formatAMPM(a)], 
      //       ],
      //       'step': 01
      //     });    
      //   }
      // }



        jeoquery.defaultData.userName = 'tompi';
        $(".city_home").jeoCityAutoComplete({callback: function(city) { if (console) console.log(city);}});

      	$("form").submit(function(e){
      		e.preventDefault();
      		var data = {}
      		var Form = this;

      		//Gathering the Data
      		$.each(this.elements, function(i, v){
      		    var input = $(v);
      		    data[input.attr("name")] = input.val();
      		    delete data["undefined"];
              	});
                      
      		//Form Validation goes here....
      		$.ajax({
      			cache: false,
            async: false,
      			//url : 'http://hopto-api.greygoo.io/v1/users',
      			type: "POST",
      			//dataType : "json",
                              //data : JSON.stringify(data),
      			data : data,
      			//context : Form,
      			success : function(result){
      				//$(this)[0].reset();
      				$("#preview").html(result);
             // document.getElementById("create_job").reset();
             console.log(result);
	          if(result=='Job created successfully !!!!'){
              window.location.href='<?php echo $this->baseUrl(); ?>/users/dashboard/myjobs';
      			}
            },
      			error : function(){
      				$(this).html("Error!");
      			}
      		});
      	});			
    });
    
</script>
<?php $this->placeholder('testjavascripts')->captureEnd() ?>