<?php $this->placeholder('staticStylesheet')->captureStart() ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables_responsive.min.css'); ?>
<?php $this->headLink()->appendStylesheet($this->baseUrl().'/css/assets/css/admin/module.admin.page.tables.min.css'); ?>
<?php $this->placeholder('staticStylesheet')->captureEnd() ?>
<?php $this->placeholder('content')->captureStart() ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<h1 class="bg-white content-heading border-bottom">Packages</h1>
<div class="innerAll spacing-x2">
	<div class="widget widget-inverse">		
		<div class="widget-head">
		<!--	
			<ul>
				<li>
					<a href="<?php// echo $this->baseUrl(); ?>/admin/package/add">&nbsp;Add Package</a>
				</li>
			</ul>-->
		</div>
		<div class="widget-body padding-bottom-none">
		<?php if( $this->data ) { ; ?>
			<!-- Table -->
			<table class="dynamicTable colVis table orders_table">

				<!-- Table heading -->
				<thead class="bg-gray">
					<tr>
						<th>Plan Name</th>
						<th>Price</th>
						<th>Free Trial Period(Days)</th>
						<th>Portfolio Pictures</th>
						<th>Youtube Videos</th>
						<th>Actions</th>
					</tr>
				</thead>
				<!-- // Table heading END -->
	
				<!-- Table body --> 
				<tbody>					
					<?php
						if( $this->data['plans'][0] ) {	
						
							foreach( $this->data['plans'] as $data => $value ) {
								?>						
									<!-- Table row -->
									<tr id="order_<?php echo $value['id']; ?>" class="gradeX order">
										<td><?php echo $value['name']; ?></td>
										<td><a href="#"><?php echo $value['price']; ?></a></td>
										<td><a href="#"><?php echo $value['free_trial_period']; ?></a></td>
										<td><?php echo $value['portfolio_pictures']; ?></td>
										<td><?php echo $value['you_tube_videos_upload']; ?></td>
										<td class="center">
											<div class="btn-group btn-group-sm">
												<a class="btn btn-success" href="package/edit?id=<?php echo $value['id']; ?>"><i class="fa fa-pencil"></i></a>
												<!--<a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this package !!!')" href="package/del?id=<?php// echo $value['id']; ?>"><i class="fa fa-times"></i></a>-->
											</div>											
										</td>
									</tr>
									<!-- // Table row END -->			
								<?php
								
							}
						} else {
							?>
								<!--<tr class="odd"><td valign="top" colspan="5" class="dataTables_empty">No matching records found</td></tr>-->
							<?php
						}
					?>
		
				</tbody>
				<!-- // Table body END -->
	
			</table><!-- // Table END -->
		<?php } ?>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd() ?>
<?php $this->placeholder('staticJavascript')->captureStart() ?>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/lib/js/footable.min.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/responsive/assets/custom/js/tables-responsive-footable.init.js?v=v1.2.3"></script>
<!--<script src="<?php //echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/js/jquery.dataTables.min.js?v=v1.2.3"></script>-->
<!--<script src="<?php //echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/TableTools/media/js/TableTools.min.js?v=v1.2.3"></script>-->
<!--<script src="<?php// echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/lib/extras/ColVis/media/js/ColVis.min.js?v=v1.2.3"></script>-->
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/DT_bootstrap.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/datatables/assets/custom/js/datatables.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/fuelux-checkbox/fuelux-checkbox.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/lib/js/bootstrap-select.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/forms/elements/bootstrap-select/assets/custom/js/bootstrap-select.init.js?v=v1.2.3"></script>
<script src="<?php echo $this->baseUrl(); ?>/css/assets/components/modules/admin/tables/classic/assets/js/tables-classic.init.js?v=v1.2.3"></script>
<?php $this->placeholder('staticJavascript')->captureEnd() ?>
