<?php $this->placeholder('content')->captureStart(); ?>
<?php $sess = new Zend_Session_Namespace('Default'); ?>
<link rel="stylesheet" href="<?php echo $this->baseUrl(); ?>/css/assets/css/admin/module.admin.page.form_elements.min.css" />
<h1 class="bg-white content-heading border-bottom">Categories</h1>
<div class="bg-white innerAll border-bottom">
	<ul class="menubar">
		<li><a href="<?php echo $this->baseUrl(); ?>/admin">Dashboard</a></li>
		<li><a href="<?php echo $this->baseUrl(); ?>/admin/categories"><span class="badge badge-primary pull-right"><--</span> Back</a></li>
		<!--<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="<?php echo $this->baseUrl(); ?>/admin/categories">View Categories</a></li>
			</ul>
		</li> -->
	</ul>
</div>

<div class="innerAll spacing-x2">
	<!-- Widget -->
<div class="widget widget-tabs widget-tabs-gray border-bottom-none">

	<!-- Widget heading -->
	<div class="widget-head">
		<ul>
		    <li class="active"><a class="glyphicons edit" href="#account-details" data-toggle="tab"><i></i>Add Category</a></li>
		</ul>
	</div>
	<!-- // Widget heading END -->
	
	<div class="widget-body">
			<div class="tab-content">			
				<!-- Tab content -->
				<div class="tab-pane active" id="account-details">
					<form name="" id="account-details" class="form-horizontal" action="" method="POST">
						<!-- Row -->
						<div class="row">					
							<!-- Column -->
							<div class="col-md-6">
						
								<!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Category Name</label>
									<div class="col-md-9">
										<div class="input-group">
											<input type="text" required="true" name="name" value="" class="form-control" placeholder="Enter your Plan name !" />
											<span class="input-group-addon" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="Plan name is mandatory"><i class="fa fa-question-circle"></i></span>
										</div>
									</div>
								</div>
								<!-- // Group END -->
                            
                                                                <!-- Group -->
								<div class="form-group">
									<label class="col-md-3 control-label">Parent Of</label>
									<div class="col-md-9">
										<div class="input-group">
                                                                                    <?php if( $this->data ) {; ?>
                                                                                        <select required="true" name="parent" class="form-control" placeholder="select parent !">
                                                                                            <option value="0">Parent Category</option>
                                                                                            <?php foreach( $this->data as $data => $values ) {
                                                                                                ?>
                                                                                                    <option value="<?php echo $values['id']; ?>"><?php echo $values['category_name']; ?></option>
                                                                                                <?php
                                                                                            }?>
                                                                                        </select>
                                                                                    <?php } ?>
    										</div>
									</div>
								</div>
								<!-- // Group END -->
                
							</div>
							<!-- // Column END -->					
						</div>
						<!-- // Row END -->					
						<div class="separator line bottom"></div>
					
						<textarea id="mustHaveId" required="true" name="extra" class="form-control" rows="5" placeholder="Enter your biography"></textarea>
					
						<!-- Form actions -->
						<div class="separator top">
							<button type="submit" class="btn btn-primary"><i class="fa fa-fw fa-check"></i> Save changes</button>
							<button type="button" class="btn btn-default"><i class="fa fa-fw fa-times"></i> Cancel</button>
						</div>
						<!-- // Form actions END -->
					
				</div>
				<!-- // Tab content END -->
                            </form>
			</div>
		</div>
	</div>
</div>
<?php $this->placeholder('content')->captureEnd(); ?>
